<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1> Storms/Lightning </h1>
        <p>
            Wheaton has a warning system that alerts the campus to the likelihood of lightning. 
            This system is meant to warn pedestrians on campus, but is also especially helpful 
            for warning sports team. The warning system is located on top of the SRC and uses 
            blasts of a horn to indicate its warning. 
        </p>
        <ul>
            <li>One long blast = take cover.</li>
            <li>Three short blasts = all clear.</li>
        </ul>
    </body>

</html>