<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1> Tornado </h1>
        <u><b>Tornado Watch:</u></b> 
            <ul>
            <li>Conditions are right for development of tornadoes.</li>
            <li>A tornado watch does not mean that a tornado has been sighted.</li>
            <li><b><u>Notification:</b></u> Tornado watch will be announced through local broadcast media.</li>
            </ul>
        </body>

</html>