<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1> Tornado </h1>
        <p><u><b>Tornado Watch:</u></b> 
            <ul>
            <li>Conditions are right for development of tornadoes.</li>
            <li>A tornado watch does not mean that a tornado has been sighted.</li>
            <li><b><u>Notification:</b></u> Tornado watch will be announced through local broadcast media.</li>
            </ul>
        </p>

        <p>
            <u><b>Tornado Warning:</b></u>
            <ul>
                <li>Indicates that a tornado has been sighted by radar or bona fide emergency agency.
                </li>
                <li>Notification: Tornado warning will be announced through media and of the following:
                <ul>
                    <li>A three to five minute sounding of the City of Wheaton tornado sirens.</li>
                    <li>Through cell phone contact.</li>
                </ul>
                </li>
            </ul>
        </p>
    </body>

</html>