{{#section 'head'}}
<!-- stuff/css stylesheets that goes in head: -->
<link href="css/accounts.css" rel="stylesheet">
{{/section}}

{{#section 'script'}}
<!-- javascript files that go in the bottom html: -->
<script src="js/accounts.js"></script> {{/section}} {{!-- Actual Content --}}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Accounts</li>
    </ol>

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'create')" id="defaultOpen">Create Account</button>
      <button class="tablinks" onclick="openCity(event, 'delete')">Delete Account</button>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="create" class="tabcontent">
          <h1>Create Account</h1>


          <form action="/accounts" method="post" target="_blank">
            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
              <input class="input100" type="text" name="email" placeholder="User email">
              <span class="focus-input100"></span>
            </div>
            <br/>
            <p>Select type of account:</p>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Role is required" class="text-center">
              <form action="/action_page.php">
                <select name="role" id='roles'>
                  <option value="Select">Role</option>
                  <option value="Admin">Admin</option>
                  <option value="RA">RA</option>

                </select>
                <br>
                <br>
            </div>
            
            <br>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Dorm is required">
              <form action="/action_page.php">
                <select name="dorm" id='dorms' class="hidden">
                  <option value="Select">Select</option>
                  <option value="dorms" id = "Fischer">Fischer</option>
                  <option value="dorms" id = "Smaber">Smith-Traber</option>
                </select>
                <br>
                <br>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Floor is required">
              <form action="/action_page.php">
                <select name="floor" id='floors' class = "hidden">
                  <option>Select</option>
                  <option>Fischer</option>
                  <option value="1 West">1 West</option>
                  <option value="2 West">2 West</option>
                  <option value="3 West">3 West</option>
                  <option value="4 West">4 West</option>
                  <option value="5 West">5 West</option>
                  <option value="3 South">3 South</option>
                  <option value="4 South">4 South</option>
                  <option value="5 South">5 South</option>
                  <option value="2 East">2 East</option>
                  <option value="3 East">3 East</option>
                  <option value="4 East">4 East</option>
                  <option value="5 East">5 East</option>
                  <option>Smith-Traber</option>
                  <option value="1 South">1 South</option>
                  <option value="2 South">2 South</option>
                  <option value="3 South">3 South</option>
                  <option value="2 East">2 East</option>
                  <option value="3 East">3 East</option>
                  <option value="Traber 2">Traber 2</option>
                  <option value="Traber 3">Traber 3</option>
                  <option value="Traber 4">Traber 4</option>
                  <option value="Traber 5">Traber 5</option>
                  <option value="Traber 6">Traber 6</option>
                  <option value="Traber 7">Traber 7</option>
                </select>
                <br>
                <br>

            </div>
            <br/>

            <input type="submit" value="Create" class = "btn btn-primary">
            </form>

        </div>


      </div>
    </div>
    <br/>
    <!-- Start of Delete Account -->
    <div class="row">
      <div class="col-12">

        <div id="delete" class="tabcontent"  class = "btn btn-primary">
          <h1>Delete Account</h1>
          <p>Enter email of account to delete:</p>
          <form action="/deleteAccount" method="post" target="_blank">
            <div class="wrap-input100 validate-input m-b-16" data-validate="Account email is required">
              <input class="input100" type="text" name="email" placeholder="Account email">
              <span class="focus-input100"></span>
            </div>
            <br/>
            <input type="submit" value="Delete"  class = "btn btn-primary" onclick="return confirm('Are you sure you would like to delete this account?\n This action cannot be undone.')"
            />
          </form>
          <br/>
        </div>

      </div>
    </div>
    <!-- End of Delete Account -->


  </div>
</div>
<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";


    }
    document.getElementById("defaultOpen").click();
</script>