{{#section 'head'}}
<!-- stuff/css stylesheets that goes in head: -->
<!-- <link href="css/accounts.css" rel="stylesheet"> -->
{{/section}}

{{#section 'script'}}
{{!-- javascript files that go in the bottom html: --}}
<script src="js/accounts.js"></script>
{{/section}}
{{!-- Actual Content --}}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Accounts</li>
    </ol>
    <ul class="nav nav-tabs">
    <!--Creates tabs and connects the content to each one-->
      <li class="nav-item">
        <a class="nav-link active" id="create-tab" data-toggle="tab" href="#create" role="tab">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab">Delete Account</a>
      </li>
    <!-- <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'create')" id="defaultOpen">Create Account</button>
      <button class="tablinks" onclick="openCity(event, 'delete')">Delete Account</button>
    </div> -->
    </ul>
  <!--Create accounts start here-->
    <div id="accounts-tab" class="tab-content">
      <div class="tab-pane fade show active" id="create" role="tabpanel">
        <h1>Create Account</h1>
        <p>Note: Creating a new RA will automatically delete the previous RA of their floor.</p>

        <form id="create-account" action="/accounts" method="post" target="_blank">
          <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
            <input class="form-control" type="email" name="email" placeholder="Enter user email" style="width: auto">
            <span class="focus-input100"></span>
          </div>
          <br/>
          <p>Select type of account:</p>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Role is required" class="text-center">
            <form>
              <select name="role" id='roles' class="form-control" style="width: auto">
                <option value="Select" disabled selected hidden>Role</option>
                <option value="Admin">Admin</option>
                <option value="RA">RA</option>
              </select>
          </div>
          <br>
          <div class="wrap-input100 validate-input m-b-16 hidden" id='dorms' data-validate="Dorm is required">
            <form>
              <select id="dorm" name="dorm" class="form-control" style="width: auto">
                <option value="Select" disabled selected hidden>Select Dorm</option>
                <option value="Fischer" id="Fischer">Fischer</option>
                <option value="Smaber" id="Smaber">Smith-Traber</option>
                <option value="UCH" id="UCH">UCH</option>
              </select>
          </div>
          <div class="wrap-input100 validate-input m-b-16 hidden" id='floors' data-validate="Floor is required">
            <select id="floor-select" name="floor" class="form-control" style="width: auto"></select>
          </div>
          <br/>
          <input id="create-submit" type="submit" value="Create" class="btn btn-primary">
        </form>
      </div>
      <!--Create account ends-->
      <!-- Start of Delete Account -->            
      <div div class="tab-pane fade" id="delete" role="tabpanel">
        <h1>Delete Account</h1>
        <p>Enter email of account to delete:</p>
        <form id="delete-account" action="/deleteAccount" method="post" target="_blank">
          <div class="wrap-input100 validate-input m-b-16" data-validate="Account email is required">
            <input class="form-control" type="email" name="email" placeholder="Account email" style="width: auto">
            <span class="focus-input100"></span>
          </div>
          <br/>
          <input id="delete-submit" type="submit" value="Delete"  class="btn btn-primary"/>
        </form>
        <br/>
      </div>
    </div>
    <!-- End of Delete Account -->


  </div>
</div>