<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="resapp">Home</a>
      </li>
      <li class="breadcrumb-item active">Calendar</li>
    </ol>
    <div class="row">
      <div class="col-12 ">
        <h1>Master Schedule</h1>
        <p>Below is the master schedule for your dorm.</p>
          <iframe src="https://calendar.google.com/calendar/embed?src=wheatontraber%40gmail.com&ctz=America%2FChicago" style="border: 0"
            width="800" height="600" frameborder="0" scrolling="no"></iframe>
        
      </div>
    </div>
  </div>
</div>
