{{#section 'head'}}

<link href="css/calendar.css" rel="stylesheet">

{{/section}} 

{{#section 'script'}}
<!-- javascript files that go in the bottom html: -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/calendar.js"></script>
{{/section}}

<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Calendar</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <h1>Master Schedule</h1>
        <p>To display your dorm's calendar, select your dorm from the drop down below.</p>
         
         {{!-- Select Dorm Options --}}
        <select class="custom-select" id="cal-option">
          <option selected>Select Dorm to Display</option>
          <option value="Smith-Traber">Smith-Traber</option>
          <option value="Fischer">Fischer</option>
          <option value="Mac-Evans">Mac-Evans</option>
        </select>

        {{!-- Individual calendars --}}
        <div class="responsive" id="calendar">
          {{!-- Calendar appended through jQuery --}}
        </div>
      </div>
    </div>
  </div>
</div>
