{{#section 'head'}}
    <!-- stuff/stylesheets that goes in head: -->
    <link href="css/emergency-faq.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{{/section}}

{{#section 'script'}}
    <!-- javascript files that go in the bottom html: -->
    <script src="js/emergency-control.js"></script>
{{/section}}

{{!-- Emergency Info Content --}}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Emergency Information</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <div id="emergency-content">
          <h1>
            <b>
              <center>Emergency Information and Procedures</center>
            </b>
          </h1>
          

          <h6>
            <u>
              <b>
                <center>Browse below for important information regarding procedural information for multiple emergencies.</center>
              </b>
            </u>
          </h6>

          <!-- Start List of Emergencies -->
          <div class="faq_container">
            <ul class="faq no-bullet">


              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Fire
                <!--<i class="fa fa-angle-right"></i> Fire-->
              </li>
              <!-- Start nested item -->
              <li class="a">
                <div class="faq_container">
                  <ul class="faq no-bullet">


                    <li class="q no-bullet">
                      <img src="images/icons/arrow.png"> Drill Schedule
                    </li>
                    <li class="a">
                      <p>Each residence hall, campus apartment and campus house is required to conduct a fire evacuation drill
                        each semester to help residents know how to safely evacuate in the event of a fire or other building
                        emergency. Drills are to be conducted in September and January (pick a nice day above freezing).</p>
                      <p>Each RD or GRA should contact the Prevention Coordinator before the end of the second week of classes
                        each semester to advise of a desired date for a drill. For the convenience of Residence Hall staff,
                        it is suggested that:
                        <ul style="list-style-type:none">
                          <li>
                            <b>a.</b> the “paired halls” (Fischer, McManis-Evans, Smith-Traber, and Williston) schedule simultaneous
                            drills. </li>
                          <li>
                            <b>b.</b> the drill be scheduled in conjunction with a regularly scheduled RA meeting. If the Prevention
                            Coordinator is not contacted by the deadline, he/she will schedule a fire drill and advise the
                            RD of the date and time. RDs, GRAs, ARDs and RAs will then be expected to be present for the
                            drill.</li>
                        </ul>
                        For the convenience of the apt and houses staff, fire drills may be scheduled during a time when the safety inspections need
                        to occur as well.</p>

                    </li>
                    <!-- End first item-->
                    <li class="q no-bullet">
                      <img src="images/icons/arrow.png"> Drill Procedure
                    </li>
                    <li class="a">
                      <p>The date and time of the drill should not be announced to the residents (i.e., only RDs, GRAs, ARDs,
                        and RAs should know). In addition, each residence hall floor should determine a specific meeting
                        place well away from the building to facilitate a post-evacuation roll-call. (NOTE: In inclement
                        weather, WCPS will provide access to a nearby campus building.) Immediately preceding the drill,
                        the Prevention Coordinator or another Public Safety Officer will meet with the RD, GRAs, ARD and
                        RAs to review proper fire safety and evacuation procedures. RAs are encouraged to ask questions during
                        this meeting concerning specific needs, problems, or clarifications.
                      </p>
                      <p> At the given time, the building fire alarm will be activated and the Public Safety Officer will time
                        the evacuation. RAs should notify the RD or GRA (at pre-arranged locations) when their floors are
                        cleared and the RD or GRA should advise the officer when the entire building is cleared. Residents
                        are not to re-enter the building until an “all-clear” is given from the Public Safety Officer.</p>
                      <p> After the drill, the Public Safety Officer will review the results with the RD or GRA, giving appropriate
                        suggestions for improvement and/or clarification of procedures. The RD or GRA should also communicate
                        observations or specific concerns. RDs, GRAs, ARDs and RAs will be expected to review any clarifications
                        with residents in order to help everyone be better prepared for potential real emergencies.</p>
                      <center>
                          <b> Please feel free to contact WCPS with any questions concerning these procedures.</b>
                      </center>
                    </li>
                    <!-- End second item-->
                    <li class="q no-bullet">
                      <img src="images/icons/arrow.png"> Fire Safety and Prevention
                    </li>
                    <li class="a">
                      <ul style="list-style-type:none">
                        <li>
                          <b>1.</b> Tampering with life safety equipment (fire alarm systems, fire extinguishers, etc.) and
                          the required signage (fire exit signs, floor level signs, etc.) for each residence hall is not
                          allowed. Tampering with such equipment is a misdemeanor crime in the State of Illinois. Posters
                          and other items should not obstruct the view of or distract from the significance of such equipment.
                          Any equipment or signage that has been tampered with, defaced, or is missing should be reported
                          to the Work Order Center of Public Safety immediately.
                        </li>
                        <li>
                          <b>2.</b> All doors equipped with automatic door closures must be left closed. These doors are kept
                          closed to help slow down the spread of fire if one should occur.</li>
                        <li>
                          <b>3.</b> Cold Temperatures: If alarms occur on nights below 32 degrees it will be important to have
                          public safety open another location for students to stay warm in while the fire department is responding.
                          <ul style="list-style-type:none">
                            <li>
                              <dl class="row">
                                <dt class="col-sm-3">Fischer</dt>
                                <dd class="col-sm-9">
                                  <p class="font-italic">Grammar school side doors</p>
                                </dd>
                                <dt class="col-sm-3">Smith-Traber</dt>
                                <dd class="col-sm-9">
                                  <p class="font-italic">Science building</p>
                                </dd>
                                <dt class="col-sm-3">McManis-Evans and Williston</dt>
                                <dd class="col-sm-9">
                                  <p class="font-italic">Coray Gym</p>
                                </dd>
                              </dl>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <b>4.</b> Furniture, ironing boards, and other physical obstructions must not block hallways or stairwells.</li>
                        <li>
                          <b>5.</b> Bicycles, mopeds, charcoal grills, etc. cannot be left on the sidewalk or chained to any
                          hand-rail where it might interfere with the exit path from the building.</li>
                        <li>
                          <b>6.</b> Lofts should not be constructed in student rooms and partitioning of rooms is not allowed
                          unless the partition is a non-permanent type, such as a sheet.</li>
                        <li>
                          <b>7.</b> Hall lobbies and other assembly areas in the halls must not exceed their capacity. Clear
                          aisles must be maintained in assembly areas to allow clear exit in case of a fire, and all that
                          are exits and emergency exits must be unlocked and unobstructed any time the assembly areas are
                          occupied. In addition, all doors in such assembly areas that are designated emergency exits for
                          other parts of the building must remain unobstructed and students inside must be able to get out
                          at any time. No designated fire exit must ever be chain locked at any time.</li>
                        <li>
                          <b>8.</b> Every time the fire alarm goes off, regardless of whether it is a drill or the cause of
                          the alarm is unknown,
                          <u>all</u> occupants of the building must evacuate the building and cannot re-enter the building until
                          the Wheaton Fire Department or Wheaton College Public Safety advises that it is safe to come back
                          into the building. At the instant that the fire alarm goes off for any reason, the Wheaton Fire
                          Department has authority over the building and all others (including Public Safety) must comply
                          with Wheaton Fire Department directives in regard to evacuation of the building and fire safety
                          matters.</li>
                        <li>
                          <b>9.</b> Any time that any person pulls a fire alarm pull station with intent to send a false alarm,
                          tampers with a ceiling smoke detector, or does any other action that sets off a ceiling smoke detector
                          or pull station and sends a false alarm, this is a misdemeanor crime in the State of Illinois.
                          The college and/or the Fire Department can call the Wheaton Police and press charges against the
                          person or persons who have committed this crime.</li>
                      </ul>
                        <p>
                          <i>All above regulations are from both the Wheaton College Student Handbook and the NFPA code, which
                            is enforced by State fire code through the Wheaton Fire Department.</i>
                        </p>
                    </li>
                    <!-- End third item -->
                  </ul>
                </div>
              </li>

              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Blood Clean-Up
              </li>
              <li class="a no-bullet bloodList">
                <p>Whenever an accident/injury occurs you
                  <b>must</b>:
                  <ul style="list-style-position: inside" type="disc">
                    <li>Contact Public Safety immediately, x5911.</li>
                    <li>Isolate any area where there is an incident involving blood until it has been decontaminated by the emergency
                      response staff.</li>
                </p>
              </ul>
            
                <p>If by assisting the victim you become exposed, you
                  <b>must</b>:
                  <ul style="list-style-position: inside" type="disc">
                    <li> Submit to examination and clean-up procedures requested by the emergency response staff.</li>
                    <li> Report the incident immediately to your supervisor.</li>
                    <li> Submit to post-exposure and follow-up procedures.</li>
                  </ul>
                </p>
                <p> Contaminated sharps are considered hazardous waste and cannot be thrown into the waste basket. Safe handling
                  procedures for insulin and syringes and broken glass are:</p>
                <ul style="list-style-position: inside" type="disc">
                  <li> Sharps containers for syringes are available at the Health Center for students and staff.</li>
                  <li> Broken glass must be reported to the Work Order Center for pick-up and disposal. For broken glass after
                    hours call Public Safety.</li>
                </ul>
                </p>
                <p> Further clarification or questions about these Human Resources procedures should be addressed to the Health
                  Center, x5072, Risk Management, x5593, or Human Resources, x5379. </p>
              </li>
              </ul>
          </div>
      </li>

         <div class="faq_container">
            <ul class="faq no-bullet">


              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Vomit Clean-Up
              </li>
              <li class="a no-bullet">
              	<p>In the unfortunate event that a student vomits and is not able to clean it up, Residence Life staff members are charged with helping. Each building should be equipped with supplies from Custodial Services/Student Health Services to complete this most humble of tasks. A special powder is first applied, then the contents are thrown in the trash, and the area should be mopped if vomit occurred on a hard surface. A work request should be completed to request that Facilities Management shampoo the affected area if a student vomits on carpet.</p>
              	<p>To request the correct supplies, contact the Student Health Services at x5072.</p> 
              </li>
          </ul>
      </div>

            <!--Start another list-->
	      <div class="faq_container">
	      	<ul class="faq no-bullet">
	      		<li class="q no-bullet">
	                <img src="images/icons/arrow.png"> Evacuating the Residence Halls and Apartments
	              </li>
	              <li class="a no-bullet">
	              	<!--Nested item-->
	              	<div class="faq_container">
	      			<ul class="faq no-bullet">
	              	  <li class="q no-bullet">
	                      <img src="images/icons/arrow.png"> Evacuation Causes
	                    </li>
	                    <li class="a no-bullet bloodList">
	                    	<p> The following conditions may force an evacuation of one or more housing areas: </p>
	                    	<ul type="disc">
	                    		<li> Fire</li>
	                    		<li> Tornado</li>
	                    		<li> Prolonged utility failure</li>
	                    		<li> Earthquake</li>
	                    		<li> Violence </li>
	                    		<li> Chemical spill on the railroad tracks </li>
	                    	</ul>
	                    </li>
	                    <!--End first item-->
	                    <li class="q no-bullet">
	                      <img src="images/icons/arrow.png"> Evacuation Procedures
	                    </li>
	                    <li class="a no-bullet">
	                    	<p>A housing unit will be evacuated in response to a fire alarm or at the direction of staff following an actual
emergency. Once students have evacuated a campus owned living unit, the housing and/or residence life staff
members in charge of each unit affected will organize students into smaller groups by residence hall floor,
house or apartment building number. To assist in the evacuation effort, each residence area is equipped with a
bullhorn, handheld radio, and a master copy of the housing roster.</p>
							<p>The emergency evacuation kit will be located in a central location in a staff member’s apartment. Should a RD,
Graduate Resident Adviser (Williston), and/or Apartment GRA not be present at the time of the evacuation,
the next staff in line should locate the evacuation equipment and begin organizing students into smaller units at
the evacuation site. The next staff in line may be a Graduate Resident Adviser, Dean of Residence Life, Dean of
Student Care and Graduate Student Life or Vice President for Student Development. A bullhorn is maintained
in the Residence Life supply cabinet in the Student Development Office for use by the Dean of Residence Life,
and/or Dean of Student Care and Graduate Student Life.</p>
						</li>

						<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Assisting individuals with Disabilities
	                    </li>
	                    <li class="a no-bullet">
	                    	<p>The accommodation process for students with disabilities is outlined in the student handbook in the Residence
Life section. Every effort will be made to assign <u>main floor</u> housing to students with special needs so they can
evacuate the building by themselves, without using stairs, in the event of an emergency.</p>
						</li> 

						<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Physical head counts after evacuation
	                    </li>
	                    <li class="a no-bullet">
	                    	<p>Updates to the housing rosters are made, as needed by the Housing Services Manager, in the Housing and
Telephone Office, in the Student Services Building. Whenever housing populations increase or decrease, the
changes are communicated to the staff member(s) responsible for that particular area via e-mail. Staff members
therefore, will have an accurate count at all times of how many individuals need to be accounted for in the
event of an evacuation.</p>
							<p><b>Should an evacuation in one or more housing area become necessary, the staff members responsible for a
particular area of housing are responsible for counting all persons to determine how many persons are missing.
Should a staff member responsible for a particular area not be present to count his/her respective area, then
that staff member’s direct supervisor must assume the responsibility. In the event that the direct supervisor is
not present, then the supervisor’s supervisor assumes responsibility.</b></p>
					</li>

					<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Obtaining an accurate account of residents after an evacuation
	                    </li>
	                    <li class="a no-bullet"> 
	                    	<p>The Housing and Services Manager distributes housing rosters to all housing and residence life staff members at
the beginning of the year. When the Housing and Services Manager communicates changes to the roster via e-
mail, <u>housing and residence life staff members are responsible</u> for making the appropriate changes on the roster
for the area he/she has oversight.</p>
							<p>In the event of an evacuation, housing and/or residence life staff members should bring the roster for their area
with them in order to ensure an accurate count of who is present and who is absent. The names and last
known locations of persons not accounted for must be recorded and communicated to the Dean of Residence
Life. The names of last known locations will then be submitted to the Emergency Operations Center for
emergency rescue if necessary.</p>
							<p>If an evacuation of a housing location is necessary while class is in session, a list of all missing persons will be
delivered to the registrar’s office for printout of the students’ class schedules. The Housing Services Manger,
Residence Life Coordinator and the front office staff in Student Development can also assist in accessing
student’s academic schedules.</p>
						</li>

					<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Methods for accounting of non-residents
	                    </li>
	                    <li class="a no-bullet"> 
	                    	<p>Each housing location is frequented by non-residents such as custodians and tradesmen from Facilities
Management and students visiting from other housing locations. In the event of an evacuation of any one
housing area, <u>RDs, Apartment/House GRAs and the representative of Student Development should have their
cell phone in use.</u> If cell towers are down then turn on the hand held radios in your apartments to channel 1.
Communicating via cell phone or radio with other housing locations will help determine if any missing students
or custodians may be located at another housing location or evacuation site before the names of missing non-
residents are reported the Emergency Operations Center.</p>
					</li>

					<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Confirmation that each room has been completely evacuated and the doors closed
	                    </li>
	                    <li class="a no-bullet"> 
	                    	<p>If a housing location is evacuated due to a life-threatening emergency, it may be difficult for staff members to
confirm that each room has been completely evacuated and the doors closed without placing themselves in
danger. Once a housing location has been evacuated, the <u>appropriate emergency personnel should be
responsible for checking the building to confirm that all living spaces in the building have been completely
evacuated.</u></p>
					</li>

					<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Confirmation that non-living spaces have been evacuated
	                    </li>
	                    <li class="a no-bullet"> 
	                    	<p>Non-living spaces include lounges, laundry rooms, public bathrooms, and community bathrooms on a residence
hall floor, residence hall kitchens, conference rooms, computer labs, prayer chapels, storage rooms, and
custodial closets. Once a housing location has been evacuated, the <u>appropriate emergency personnel should be
responsible for checking the building to confirm that all non-living spaces of the building have been completely
evacuated</u>.</p>
						</li>

					<li class="q no-bullet">
	                      <img src="images/icons/arrow.png">Procedures for further evacuation if the incident expands
	                    </li>
	                    <li class="a no-bullet bloodList"> 
	                    	<p>If one or more housing locations have been evacuated, the incident expands or forces further evacuation, the
following locations may be utilized if unaffected by the conditions forcing evacuation:</p>
						<ul type="disc">
							<li> Eckert Recreation Gym</li>
							<li> Edman Chapel</li>
							<li> Smith-Traber lobby</li>
							<li> Fischer lobby and basement</li>
							<li> McManis-Evans lower level</li>
							<li> 1st floor lobbies</li> 
						</ul> 
 						<p>If further evacuation becomes necessary, personnel in the Emergency Operations Center will need tomake a decision about which of the buildings above are safest and closest to the housing location(s) that need to be further evacuated. This information <u>will need</u> to be communicated to the person in charge of the housing location(s) affected, so that students may be directed where and how they should move.</p>
 					</li>
	                </ul>
	            </div>
	        </li>
	    </ul>
	</div>
	<!--Begin assembly image tab-->
	<div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Emergency Evacuation Assembly Areas
             </li>
              <!-- Answer -->
             <li class="a no-bullet">
               <h5><b><center>In the event of a fire alarm, please move to one of the dotted areas at least 30 ft away from the building where the alarm is sounding and await further instructions.</center></b></h5>
               <img class="img-responsive; center" src="images/assembly.jpg" alt="Assembly"> 
           </li>
       </ul>
   </div>
   <!--End tab-->

   <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Wellness Check Steps
             </li>
              <!-- Answer -->
             <li class="a no-bullet bloodList">
             	<p>Throughout the academic year you may be contacted by someone in student development to perform a
“wellness check” on one of your students. A wellness check is a face-to-face interaction with a student. You
will be given an “urgency status” that informs how quickly you need to meet with the student which is
discussed below.</p>

				<p><h6><b>Finding the Student: </b></h6>
				<ul style="list-style-type:none">
					<li><b>1. </b>Look up student on SCN and collect all info you can such as phone number and class schedule.</li>
					<li><b> 2. </b>Visit the student’s apartment and if not there subtly ask a roommate or close friend in room where
they might be and when they saw them last.</li>
					<li><b> 3. </b>Call their cell phone to see if you can get a response.</li>
					<li><b> 4. </b>If you unable to make any connection with the student please call back the SD staff person who called
you to discuss next game plan for finding the student.</li>
					</ul></p>

				<p><h6><b>When you are asked to perform a wellness check, you will be given the following information:</b></h6>
				<ul style="list-style-type:none">
					<li><b> -  </b>Student name</li>
					<li><b> -  </b>Student contact information (you may need to look it up yourself)</li>
					<li><b> -  </b>Symptoms of student/ reason for concern</li>
					<li><b> -  </b>Specific things you are to inquire about</li>
				</ul></p>
				<p><i>Feel free to ask individual who is requesting you to perform a wellness check for further information, or
follow-up steps.</i></p>

					<h5><u>The following are the different codes that are utilized to rank urgency of the situation:</u></h5>
<div class="w3-container">
					<div class="w3-panel w3-padding-16 w3-pale-red">
<strong>Red – Crisis Situation That Needs Immediate Attention –</strong> You are to immediately look for the student and
make contact with them. Once you have met with the student call back the staff member who contacted you
and let them know more information about the situation. If you cannot find the student or reach them by
phone please inform the staff member who called you.
</div>
					<div class="w3-panel w3-padding-16  w3-khaki">
<strong>Orange – Situation That Needs Attention Soon –</strong> You are to look for and make contact with the student
within the next 8-10 hrs. Once wellness check has been completed you will call back the staff member who
contacted you and let them know the information you discovered. If you cannot find the student or reach
them by phone please inform the staff member who called you.
  </div>
					 <div class="w3-panel w3-padding-16 w3-pale-yellow">
				<strong>Yellow – Situation That Needs Attention Within The Next 24hrs –</strong> You are to look for and make contact with
the student within the next 24hrs. Once wellness check has been completed you will call or email back the
staff member who contacted you and let them know what information you discovered. If you cannot find the
student or reach them by phone please inform the staff member who called you.
			</div>

			</div>

			<p><p><h6><b>As you are going into a wellness check, here are some helpful starter questions or things to keep in mind:</b></h6>
				<ul style="list-style-type:none"><i>
					<li><b> -  </b>Remain calm...it is important that you communicate calmness to the student, this will allow them to be honest with you.</li>
					<li><b> -  </b>Ease into the conversation, but be honest with why you are checking in (if you are wondering how
much information you are able to share with this student, make sure to ask the staff member who
requested you to perform a wellness check).</li>
					<li><b> -  </b>It is important to think of the principle “make sure that you gain enough information, or follow through
with a student situation, so that you are able to sleep at night”. This is a good litmus test for what
constitutes as a “need to respond immediately” and what can wait until morning situation.</li>
					<li><b> -  </b>If there is evidence or suspicion of self-harm or thoughts/ plans of suicide, please follow the
response plan below. If the Counseling Center is open, please walk the student directly to the
Counseling Center.</li>

					<li><b> -  </b>After a wellness check, please immediately follow up with the individual who asked you to perform the
wellness check. If the student is in danger, do not leave the student alone. Feel free to call for back-up
if you need another staff member to be present with you.</li>
				</ul></p></i>

	</li>
	</ul>
</div>


           <div class="faq_container">
            <ul class="faq no-bullet">

              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Storms / Lightning
              </li>
              <!-- Answer -->
              <li class="a no-bullet">
                <p>
                  Wheaton has a warning system that alerts the campus to the likelihood of lightning. This system is meant to warn pedestrians
                  on campus, but is also especially helpful for warning sports team. The warning system is located on top
                  of the SRC and uses blasts of a horn to indicate its warning.
                </p>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="heading-2">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                          Procedure
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                      <div class="card-body">
                        <ul>
                          <dl class="row">
                            <dt class="col-sm-3">One long blast</dt>
                            <dd class="col-sm-9">
                              <p class="font-italic">Take cover</p>
                            </dd>
                            <dt class="col-sm-3">Three short blasts</dt>
                            <dd class="col-sm-9">
                              <p class="font-italic">All clear</p>
                            </dd>
                          </dl>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading-3">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                          Phone Numbers
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                      <div class="card-body">
                        <ul>
                          <dl class="row">
                            <dt class="col-sm-3">Public Safety</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-752-5911">630-752-5911</a>
                            </dd>
                            <dt class="col-sm-3">Campus Operator</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-752-5000">630-752-5000</a>
                            </dd>
                          </dl>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>



              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Tornado
              </li>
              <li class="a">
                <p>
                  Tornado information.
                </p>
              </li>



              </ul>

          </div>

        </div>
        </nav>

      </div>
    </div>
  </div>
</div>


