{{#section 'head'}}
    <!-- stuff/stylesheets that goes in head: -->
    <link href="css/emergency-faq.css" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
{{/section}}

{{#section 'script'}}
    <!-- javascript files that go in the bottom html: -->
    <script src="js/emergency-control.js"></script>
{{/section}}

{{!-- Emergency Info Content --}}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Emergency Information</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <div id="emergency-content">
          <h1>
            <b>
              <center>Emergency Information and Procedures</center>
            </b>
          </h1>
          <h6>           
              <b>
                <center>Browse below for important information regarding procedural information for multiple emergencies.</center>
              </b>
            
          </h6>

          <!-- Start List of Emergencies -->
          <div class="faq_container">
            <ul class="faq no-bullet">
              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Active Shooter
              </li>
              <li class="a no-bullet bloodList"> 
                <center><h4><b><u>RUN! HIDE! FIGHT!</u></b></h4></center>
                <p>Quickly determine the most reasonable way to protect your own life. Remember that students are likely to follow
the lead of the residence life staff during an active shooter situation. Wheaton College does not expect its
employees to put their lives at further risk to save others. Putting oneself in potential harm to save others is a
personal choice and not one the college expects of its employees.</p>
              <div class="alert alert-success col-md-6" role="alert">
                 <h6 class="alert-heading"><strong> RUN</strong></h6>
                 <p>If there is a safe way to escape do so immediately.</p>
                 <div class="container">
                  <ul type="disc">
                    <li>Have an escape route and plan in mind (know where the exits are)</li>
                    <li>Evacuate regardless of whether others agree to follow</li>
                    <li>Help others escape, if possible</li>
                    <li>Leave your belongings behind</li>
                    <li>Prevent individuals from entering an area where the active shooter may be</li>
                    <li><b>Do not</b> attempt to move wounded people</li>
                    <li>Call 911 when you are safe</li>
                  </ul>
                </div>
                 </div>
                 <div class="alert alert-warning col-md-6" role="alert">
                 <h6 class="alert-heading"><strong>HIDE</strong></h6>
                 <p>If evacuation is not possible, find a place to hide where the active shooter is less likely to find you.</p>
                 <div class="container">
                  <ul type="disc">
                    <li>Be out of the active shooter’s view</li>
                    <li>Go in a room and lock the door</li>
                    <li>Barricade the door with any object you can find to prevent an active shooter from entering your hiding place. (Heavy furniture, chairs, desks)</li>
                    <li>Cover any windows or blinds in the doors if possible to not be seen.</li>
                    <li>Remain quiet and turn off any source of noise (Silence your cell phone, turn off music or televisions)</li>
                    <li>Call 911. Alert police to the active shooter’s location if you are aware. If you cannot speak, leave the line open and allow the dispatcher to listen.</li>
                  </ul>
                </div>
              </div>
                <div class="alert alert-danger col-md-6" role="alert">
                 <h6 class="alert-heading"><strong>FIGHT</strong></h6>
                 <p>As a last resort, and only when your life is in imminent danger, attempt to disrupt and/or incapacitate the active shooter.</p>
                 <div class="container">
                  <ul type="disc">
                    <li>Find any object that could be used as a weapon against the shooter</li>
                    <li>Commit to your actions if shooter enters space</li>
                    <li>Act as aggressively as possible against him/her (which includes yelling)</li>
                    <li>Hit with or throw objects you have as a resource</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>


          <div class="faq_container">
            <ul class="faq no-bullet">
              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Blood Clean-Up
              </li>
              <li class="a no-bullet bloodList">
                <p>Whenever an accident/injury occurs you
                  <b>must</b>:
                  <ul style="list-style-position: inside" type="disc">
                    <li>Contact Public Safety immediately, x5911.</li>
                    <li>Isolate any area where there is an incident involving blood until it has been decontaminated by the emergency
                      response staff.</li>
                </p>
              </ul>
            
                <p>If by assisting the victim you become exposed, you
                  <b>must</b>:
                  <ul style="list-style-position: inside" type="disc">
                    <li> Submit to examination and clean-up procedures requested by the emergency response staff.</li>
                    <li> Report the incident immediately to your supervisor.</li>
                    <li> Submit to post-exposure and follow-up procedures.</li>
                  </ul>
                </p>
                <p> Contaminated sharps are considered hazardous waste and cannot be thrown into the waste basket. Safe handling
                  procedures for insulin and syringes and broken glass are:</p>
                <ul style="list-style-position: inside" type="disc">
                  <li> Sharps containers for syringes are available at the Health Center for students and staff.</li>
                  <li> Broken glass must be reported to the Work Order Center for pick-up and disposal. For broken glass after
                    hours call Public Safety.</li>
                </ul>
                </p>
                <p> Further clarification or questions about these Human Resources procedures should be addressed to the Health
                  Center, x5072, Risk Management, x5593, or Human Resources, x5379. </p>
              </li>
              </ul>
          </div>
          <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Counseling Center
             </li>
              <!-- Answer -->
             <li class="a no-bullet bloodList">
              <h6><b>Concerns during the day: From 8am-5pm M-F call the counseling center ( <a href="tel:630-752-5321"> 630-752-5321</a> )</b></h6>

              <h6>After hours: <b><u>Call the on-duty number</u> ( <a href="tel:331-551-8837">331-551-8837</a> )</b></h6>

              <p><h6>If no one answers call these numbers in order:</h6></p>
              <div class="container">
                 <div class="card-body">
                        <ul>
                          <dl class="row">
                            <dt class="col-sm-3">1.  Toussaint Whetstone</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-917-9049">(630)-917-9049</a>
                            </dd>
                            <dt class="col-sm-3">2.  Valencia Wiggins</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-880-9347">(630)-880-9347</a>
                            </dd>
                            <dt class="col-sm-3">3.  Donna Aldridge</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-362-0068">(630)-362-0068</a>
                            </dd>
                            <dt class="col-sm-3">4.  Matthew Hyder</dt>
                            <dd class="col-sm-9">
                              <a href="tel:847-224-9890">(847)-224-9890</a>
                            </dd>                            
                          </dl>
                        </ul>
                      </div>
                  </div>
                  <h6><i>In the event that none of the counselors are available, call a Carrie, Justin, or Allison in Student Development. Call
Public Safety if no one responds or the situation escalates to needing emergency medical professionals.</i></h6>
        </li>
        </ul>
      </div>
      <div class="faq_container">
          <ul class="faq no-bullet">
            <li class="q no-bullet">
                  <img src="images/icons/arrow.png"> Evacuating Residence Halls/Apartments
                </li>
                <li class="a no-bullet">
                  <!--Nested item-->
                  <div class="faq_container">
              <ul class="faq no-bullet">
                    <li class="q no-bullet">
                        <img src="images/icons/arrow.png"> Evacuation Causes
                      </li>
                      <li class="a no-bullet bloodList">
                        <p> The following conditions may force an evacuation of one or more housing areas: </p>
                        <ul type="disc">
                          <li> Fire</li>
                          <li> Tornado</li>
                          <li> Prolonged utility failure</li>
                          <li> Earthquake</li>
                          <li> Violence </li>
                          <li> Chemical spill on the railroad tracks </li>
                        </ul>
                      </li>
                      <!--End first item-->
                      <li class="q no-bullet">
                        <img src="images/icons/arrow.png"> Evacuation Procedures
                      </li>
                      <li class="a no-bullet">
                        <p>A housing unit will be evacuated in response to a fire alarm or at the direction of staff following an actual
emergency. Once students have evacuated a campus owned living unit, the housing and/or residence life staff
members in charge of each unit affected will organize students into smaller groups by residence hall floor,
house or apartment building number. To assist in the evacuation effort, each residence area is equipped with a
bullhorn, handheld radio, and a master copy of the housing roster.</p>
              <p>The emergency evacuation kit will be located in a central location in a staff member’s apartment. Should a RD,
Graduate Resident Adviser (Williston), and/or Apartment GRA not be present at the time of the evacuation,
the next staff in line should locate the evacuation equipment and begin organizing students into smaller units at
the evacuation site. The next staff in line may be a Graduate Resident Adviser, Dean of Residence Life, Dean of
Student Care and Graduate Student Life or Vice President for Student Development. A bullhorn is maintained
in the Residence Life supply cabinet in the Student Development Office for use by the Dean of Residence Life,
and/or Dean of Student Care and Graduate Student Life.</p>
            </li>

            <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Assisting individuals with Disabilities
                      </li>
                      <li class="a no-bullet">
                        <p>The accommodation process for students with disabilities is outlined in the student handbook in the Residence
Life section. Every effort will be made to assign <u>main floor</u> housing to students with special needs so they can
evacuate the building by themselves, without using stairs, in the event of an emergency.</p>
            </li> 

            <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Physical head counts after evacuation
                      </li>
                      <li class="a no-bullet">
                        <p>Updates to the housing rosters are made, as needed by the Housing Services Manager, in the Housing and
Telephone Office, in the Student Services Building. Whenever housing populations increase or decrease, the
changes are communicated to the staff member(s) responsible for that particular area via e-mail. Staff members
therefore, will have an accurate count at all times of how many individuals need to be accounted for in the
event of an evacuation.</p>
              <p><b>Should an evacuation in one or more housing area become necessary, the staff members responsible for a
particular area of housing are responsible for counting all persons to determine how many persons are missing.
Should a staff member responsible for a particular area not be present to count his/her respective area, then
that staff member’s direct supervisor must assume the responsibility. In the event that the direct supervisor is
not present, then the supervisor’s supervisor assumes responsibility.</b></p>
          </li>

          <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Obtaining an accurate account of residents after an evacuation
                      </li>
                      <li class="a no-bullet"> 
                        <p>The Housing and Services Manager distributes housing rosters to all housing and residence life staff members at
the beginning of the year. When the Housing and Services Manager communicates changes to the roster via e-
mail, <u>housing and residence life staff members are responsible</u> for making the appropriate changes on the roster
for the area he/she has oversight.</p>
              <p>In the event of an evacuation, housing and/or residence life staff members should bring the roster for their area
with them in order to ensure an accurate count of who is present and who is absent. The names and last
known locations of persons not accounted for must be recorded and communicated to the Dean of Residence
Life. The names of last known locations will then be submitted to the Emergency Operations Center for
emergency rescue if necessary.</p>
              <p>If an evacuation of a housing location is necessary while class is in session, a list of all missing persons will be
delivered to the registrar’s office for printout of the students’ class schedules. The Housing Services Manger,
Residence Life Coordinator and the front office staff in Student Development can also assist in accessing
student’s academic schedules.</p>
            </li>

          <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Methods for accounting of non-residents
                      </li>
                      <li class="a no-bullet"> 
                        <p>Each housing location is frequented by non-residents such as custodians and tradesmen from Facilities
Management and students visiting from other housing locations. In the event of an evacuation of any one
housing area, <u>RDs, Apartment/House GRAs and the representative of Student Development should have their
cell phone in use.</u> If cell towers are down then turn on the hand held radios in your apartments to channel 1.
Communicating via cell phone or radio with other housing locations will help determine if any missing students
or custodians may be located at another housing location or evacuation site before the names of missing non-
residents are reported the Emergency Operations Center.</p>
          </li>

          <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Confirmation that each room has been completely evacuated and the doors closed
                      </li>
                      <li class="a no-bullet"> 
                        <p>If a housing location is evacuated due to a life-threatening emergency, it may be difficult for staff members to
confirm that each room has been completely evacuated and the doors closed without placing themselves in
danger. Once a housing location has been evacuated, the <u>appropriate emergency personnel should be
responsible for checking the building to confirm that all living spaces in the building have been completely
evacuated.</u></p>
          </li>

          <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Confirmation that non-living spaces have been evacuated
                      </li>
                      <li class="a no-bullet"> 
                        <p>Non-living spaces include lounges, laundry rooms, public bathrooms, and community bathrooms on a residence
hall floor, residence hall kitchens, conference rooms, computer labs, prayer chapels, storage rooms, and
custodial closets. Once a housing location has been evacuated, the <u>appropriate emergency personnel should be
responsible for checking the building to confirm that all non-living spaces of the building have been completely
evacuated</u>.</p>
            </li>

          <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Procedures for further evacuation if the incident expands
                      </li>
                      <li class="a no-bullet bloodList"> 
                        <p>If one or more housing locations have been evacuated, the incident expands or forces further evacuation, the
following locations may be utilized if unaffected by the conditions forcing evacuation:</p>
            <ul type="disc">
              <li> Eckert Recreation Gym</li>
              <li> Edman Chapel</li>
              <li> Smith-Traber lobby</li>
              <li> Fischer lobby and basement</li>
              <li> McManis-Evans lower level</li>
              <li> 1st floor lobbies</li> 
            </ul> 
            <p>If further evacuation becomes necessary, personnel in the Emergency Operations Center will need tomake a decision about which of the buildings above are safest and closest to the housing location(s) that need to be further evacuated. This information <u>will need</u> to be communicated to the person in charge of the housing location(s) affected, so that students may be directed where and how they should move.</p>
          </li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
  <!--Begin assembly image tab-->
  <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Evacuation Assembly Locations
             </li>
              <!-- Answer -->
             <li class="a no-bullet">
               <h5><b><center>In the event of a fire alarm, please move to one of the dotted areas at least 30 ft away from the building where the alarm is sounding and await further instructions.</center></b></h5>
               <img class="img-responsive; center" src="images/assembly.jpg" alt="Assembly"> 
           </li>
       </ul>
   </div>
   <!--End tab-->
  <div class="faq_container">
            <ul class="faq no-bullet">


              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Fire
                <!--<i class="fa fa-angle-right"></i> Fire-->
              </li>
              <!-- Start nested item -->
              <li class="a">
                <div class="faq_container">
                  <ul class="faq no-bullet">


                    <li class="q no-bullet">
                      <img src="images/icons/arrow.png"> Drill Schedule
                    </li>
                    <li class="a">
                      <p>Each residence hall, campus apartment and campus house is required to conduct a fire evacuation drill
                        each semester to help residents know how to safely evacuate in the event of a fire or other building
                        emergency. Drills are to be conducted in September and January (pick a nice day above freezing).</p>
                      <p>Each RD or GRA should contact the Prevention Coordinator before the end of the second week of classes
                        each semester to advise of a desired date for a drill. For the convenience of Residence Hall staff,
                        it is suggested that:
                        <ul style="list-style-type:none">
                          <li>
                            <b>a.</b> the “paired halls” (Fischer, McManis-Evans, Smith-Traber, and Williston) schedule simultaneous
                            drills. </li>
                          <li>
                            <b>b.</b> the drill be scheduled in conjunction with a regularly scheduled RA meeting. If the Prevention
                            Coordinator is not contacted by the deadline, he/she will schedule a fire drill and advise the
                            RD of the date and time. RDs, GRAs, ARDs and RAs will then be expected to be present for the
                            drill.</li>
                        </ul>
                        For the convenience of the apt and houses staff, fire drills may be scheduled during a time when the safety inspections need
                        to occur as well.</p>

                    </li>
                    <!-- End first item-->
                    <li class="q no-bullet">
                      <img src="images/icons/arrow.png"> Drill Procedure
                    </li>
                    <li class="a">
                      <p>The date and time of the drill should not be announced to the residents (i.e., only RDs, GRAs, ARDs,
                        and RAs should know). In addition, each residence hall floor should determine a specific meeting
                        place well away from the building to facilitate a post-evacuation roll-call. (NOTE: In inclement
                        weather, WCPS will provide access to a nearby campus building.) Immediately preceding the drill,
                        the Prevention Coordinator or another Public Safety Officer will meet with the RD, GRAs, ARD and
                        RAs to review proper fire safety and evacuation procedures. RAs are encouraged to ask questions during
                        this meeting concerning specific needs, problems, or clarifications.
                      </p>
                      <p> At the given time, the building fire alarm will be activated and the Public Safety Officer will time
                        the evacuation. RAs should notify the RD or GRA (at pre-arranged locations) when their floors are
                        cleared and the RD or GRA should advise the officer when the entire building is cleared. Residents
                        are not to re-enter the building until an “all-clear” is given from the Public Safety Officer.</p>
                      <p> After the drill, the Public Safety Officer will review the results with the RD or GRA, giving appropriate
                        suggestions for improvement and/or clarification of procedures. The RD or GRA should also communicate
                        observations or specific concerns. RDs, GRAs, ARDs and RAs will be expected to review any clarifications
                        with residents in order to help everyone be better prepared for potential real emergencies.</p>
                      <center>
                          <b> Please feel free to contact WCPS with any questions concerning these procedures.</b>
                      </center>
                    </li>
                    <!-- End second item-->
                    <li class="q no-bullet">
                      <img src="images/icons/arrow.png"> Fire Safety and Prevention
                    </li>
                    <li class="a no-bullet bloodList">
                      <ul style="list-style-type:none">
                        <li>
                          <b>1.</b> Tampering with life safety equipment (fire alarm systems, fire extinguishers, etc.) and
                          the required signage (fire exit signs, floor level signs, etc.) for each residence hall is not
                          allowed. Tampering with such equipment is a misdemeanor crime in the State of Illinois. Posters
                          and other items should not obstruct the view of or distract from the significance of such equipment.
                          Any equipment or signage that has been tampered with, defaced, or is missing should be reported
                          to the Work Order Center of Public Safety immediately.
                        </li>
                        <li>
                          <b>2.</b> All doors equipped with automatic door closures must be left closed. These doors are kept
                          closed to help slow down the spread of fire if one should occur.</li>
                        <li>
                          <b>3.</b> Cold Temperatures: If alarms occur on nights below 32 degrees it will be important to have
                          public safety open another location for students to stay warm in while the fire department is responding.
                          <ul style="list-style-type:none">
                            <li>
                              <dl class="row">
                                <dt class="col-sm-3">Fischer</dt>
                                <dd class="col-sm-9">
                                  <p class="font-italic">Grammar school side doors</p>
                                </dd>
                                <dt class="col-sm-3">Smith-Traber</dt>
                                <dd class="col-sm-9">
                                  <p class="font-italic">Science building</p>
                                </dd>
                                <dt class="col-sm-3">McManis-Evans and Williston</dt>
                                <dd class="col-sm-9">
                                  <p class="font-italic">Coray Gym</p>
                                </dd>
                              </dl>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <b>4.</b> Furniture, ironing boards, and other physical obstructions must not block hallways or stairwells.</li>
                        <li>
                          <b>5.</b> Bicycles, mopeds, charcoal grills, etc. cannot be left on the sidewalk or chained to any
                          hand-rail where it might interfere with the exit path from the building.</li>
                        <li>
                          <b>6.</b> Lofts should not be constructed in student rooms and partitioning of rooms is not allowed
                          unless the partition is a non-permanent type, such as a sheet.</li>
                        <li>
                          <b>7.</b> Hall lobbies and other assembly areas in the halls must not exceed their capacity. Clear
                          aisles must be maintained in assembly areas to allow clear exit in case of a fire, and all that
                          are exits and emergency exits must be unlocked and unobstructed any time the assembly areas are
                          occupied. In addition, all doors in such assembly areas that are designated emergency exits for
                          other parts of the building must remain unobstructed and students inside must be able to get out
                          at any time. No designated fire exit must ever be chain locked at any time.</li>
                        <li>
                          <b>8.</b> Every time the fire alarm goes off, regardless of whether it is a drill or the cause of
                          the alarm is unknown,
                          <u>all</u> occupants of the building must evacuate the building and cannot re-enter the building until
                          the Wheaton Fire Department or Wheaton College Public Safety advises that it is safe to come back
                          into the building. At the instant that the fire alarm goes off for any reason, the Wheaton Fire
                          Department has authority over the building and all others (including Public Safety) must comply
                          with Wheaton Fire Department directives in regard to evacuation of the building and fire safety
                          matters.</li>
                        <li>
                          <b>9.</b> Any time that any person pulls a fire alarm pull station with intent to send a false alarm,
                          tampers with a ceiling smoke detector, or does any other action that sets off a ceiling smoke detector
                          or pull station and sends a false alarm, this is a misdemeanor crime in the State of Illinois.
                          The college and/or the Fire Department can call the Wheaton Police and press charges against the
                          person or persons who have committed this crime.</li>
                      </ul>
                        <p>
                          <i>All above regulations are from both the Wheaton College Student Handbook and the NFPA code, which
                            is enforced by State fire code through the Wheaton Fire Department.</i>
                        </p>
                    </li>
                    <!-- End third item -->
                  </ul>
                </div>
              </li>
            </ul>
          </div>
           <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Hospitalization Procedures
             </li>
              <!-- Answer -->
             <li class="a no-bullet">
              <p>The decision to go to the hospital with a student for further mental health assessment is a complex and difficult
choice based on how we can best care for the needs of the student and our community. This decision often involves a
lot of fear and emotions on the part of the student and can on the part of those taking the student to the hospital as
well. The need to make this decision may take place in the middle of the night or in the middle of the day. It may be
with a student we have worked with for a long time or someone we are meeting for the first time.</p>
        <p>The role of Residence Life in this process is one of <strong>care and support</strong> as well as <strong>setting up communication between the
College and the care facility about the situation.</strong> We take a student to the hospital because we believe this is the best
way to care for him/her and provide the necessary support.</p>
        <p>The purpose of this handbook is to provide insight into what a trip to a mental health facility will look like as well as to
provide helpful questions and reminders for those who are traveling with these students.</p>
      <div class="faq_container">
              <ul class="faq no-bullet">
        <!--Nested List-->
        <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Deciding to Go
                      </li>
                      <li class="a no-bullet bloodList"> 
                        <p>The decision to take a student to the hospital can be initiated from a variety of places. Generally, this decision is
made because a trained counselor has decided that it would be helpful and necessary for the student to have a
mental health assessment completed. At times, there are after hours situations that occur where the residence life
staff person, in consultation with the On Call Counselor, will determine that a student needs to go to the hospital for
further assessment. Going to a hospital does not necessarily mean that the student will be admitted for inpatient
treatment but it is the next step in the process when a counselor is concerned for the safety of a student.</p>
              <p>Whenever it is decided that a student needs to be transported to the hospital, two staff members should transport
the student. The first person needs to be one of the following: (1) a counselor from the Counseling Center (during the
business day) and/or an RD/GRA (after hours) (2) a driver from Public Safety. If no driver is available from Public
Safety, an ambulance should be called. <strong>No Wheaton College employee should transport a student to a mental
health facility by him or herself.</strong></p>
              <p>The time spent taking a student to a mental health facility it can take between 2 to 5 hours, and on some occasions
the time spent can be beyond 5 hours.</p>
              <p>One question that is often asked by those taking the student is, “should I engage in conversation with the student?”
There is no correct answer on this question. You can engage with the student while taking into consideration your
comfort and theirs. Since your trip with them may be the first time for a student to go for a mental health assessment,
we want to do everything we can to convey support and care for him/her during this difficult time. Helping the
student to feel known is a great step in this process. You can ask the student if he/she would like to talk or not as you
drive. If the student doesn’t seem interested in conversation, that is fine as well.</p>
              
              <div class="alert alert-info col-md-8" role="alert">
                 <h6 class="alert-heading"><i class="fa fa-fw fa-info-circle"></i><strong> Importaint Procedures</strong></h6>
                  <ul style="list-style-type:none">
                    <li><strong>1.  </strong>The student needs their insurance card, a form of ID and their student ID card.</li>
                    <li><strong>2.  </strong>You will need to bring:</li>
                  
                  <div class=" container col-md-11">
                    <ul style="list-style-type:none">
                      <li>I.   The Hospitalization Handbook</li>
                      <li>II.  If available, the Residence Life Student Information Sheet (RAs keep this)</li>
                      <li>III. Anything you might need while you wait (books, phone, etc.)</li>
                    </ul>
                  </div>
                    <li><strong>3.  </strong>Allocate who can cover on duty while you are away on campus.</li>
                    <li><strong>4.  </strong>You must inform these people by the severety of the situation: </li>
                    <div class=" container col-md-11">
                    <ul style="list-style-type:none">
                      <li>a.  Your RD (for all cases)</li>
                      <li>b.  If you need further support or if the student’s life is in danger, please call the On Call Dean.</li>
                    </ul>
                  </div>
                </ul>
            </div>
            <strong>Transportation to a hospital for a mental health assessment should not be done in a personal vehicle.</strong>
              <div class = "card" style="margin-top:10px">
                  <div class = "card-header">
                
                    <strong>During Business Hours (M-F 8 am-5 pm)</strong>
                  </div> 
                  <div class="card-body card-text">
                    The student will be assessed in person by the on call counselor and the
counselor is responsible for accompanying the student to the hospital. The Counseling Center will call Public Safety
<a href="tel:6307525911">(630-752-5911)</a> and ask for Bob Norris to assist. Bob’s Cell is <a href="tel:6309451323">(630) 945-1323</a>.</div></div>
              <div class = "card" style="margin-top:10px">
                  <div class = "card-header">
                
                    <strong>After Business Hours and on weekends</strong>
                  </div> 
                  <div class="card-body card-text">
                    The residence life staff will be responsible to accompany the student to the
hospital. To acquire transportation, call in the following order:
                <div class="container">
                       <div class="card-body">
                              <ul>
                               <dl class="row">
                                  <dt class="col-sm-3">1.  Christopher Marchand</dt>
                                  <dd class="col-sm-9">
                                   <a href="tel:224-548-2496">(224) 548-2496</a>
                                   </dd>
                                  <dt class="col-sm-3">2.  Pete Hill</dt>
                                  <dd class="col-sm-9">
                                   <a href="tel:630-880-9347">(630)-880-9347</a>
                                  </dd>
                                </dl>
                              </ul>
                            </div>
                           </div>
                           These off duty public safety officers will be able to drive the student and yourself to Linden Oaks. You can sit
in the back with the student. If <u>no one</u> responds, call Public Safety for an ambulance. The ambulance will take the student to CDH and you
can follow in your own personal vehicle.
              <p style="margin-top:5px "><strong>Ambulance:</strong> If a student is in significant distress (hysterical, physically incapacitated, etc.), please contact
Public Safety to have them call for an ambulance. When a student is in this kind of state, staff should not
attempt to acquire transportation from the College. Once the ambulance arrives, answer the paramedics
questions letting them know the reason that the student needs to be transported to the hospital. If this
option is taken, please see the release section and have the appropriate releases signed before the student
leaves in the ambulance (if possible).</p>

                         </div>
            </li>
            <!--New nested list-->
              <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Sharing of Information (Completed on way to the Hospital)
                      </li>
                      <li class="a no-bullet bloodList"> 
                        <p>Once the student is at the hospital, <b>Wheaton College is unable to get or give information unless the student has
signed the appropriate release forms</b>.</p>
              <p>An important conversation to have with a student who is being transported to the hospital for further assessment is
who and what information the student would like to have shared. If the student ends up being admitted, it is very
valuable to receive updates on the student’s status and care plan from the hospital. If the student’s parents contact
Student Development, it is helpful to be able to give them pertinent information about the student’s well-being. If
releases are not signed, it will be difficult to follow up with the student or with the parents due to confidentiality laws.
If the student does end up being admitted to the hospital, Student Development will send out a general notice of
absence to professors.</p>
              <h6><b>Steps to take</b></h6>
              <p>Inform the student that if he/she ends up missing class, Student Development will contact the student’s professors to
excuse his/her absence, but will not give specific information about the need for the absence. Some students may be concerned about assignments and missed class. Reassure them that the Student Development can assist them with
communicating with professors and/or strategies for making up missed work. The college seeks to be gracious during
these situations and is committed to helping students with challenges that may arise.</p>
              <div class="alert alert-info col-md-9" role="alert">
                 <h6 class="alert-heading"><i class="fa fa-fw fa-question-circle"></i><strong> Questions to Ask</strong></h6>
                  <ul style="list-style-type:none">
                    <li><strong>1.  </strong>Does the student want to call his/her parents while they are on the way?</li>
                      <div class=" container col-md-11">
                      <ul style="list-style-type:none">
                        <li>a. Encourage students to bring their parents into the situation.</li>
                        <li>b. If a counselor from the Counseling Center has been involved, this person would have likely already
asked the student if he/she wanted to contact his/her parents.</li>
                      </ul>
                      </div>
                    <li><strong>2.  </strong>Does the student want someone from the College to call his/her parents and let them know anything? (If so, get the release signed).</li>
                    <li><strong>3.  </strong>Is there anyone else the student would want to let know about the situation (RD/GRA/RA, roommates,
friends, etc.)? Does the student want to call any of them right now?</li>
                    <div class=" container col-md-11">
                      <ul style="list-style-type:none">
                        <li>a. What would they want communicated about their situation?</li>
                      </ul>
                    </div>
                    <li><strong>4.  </strong>Is the student employed on campus? If so, would the student like the College to communicate anything to his/her employer?</li>
                    <li><strong>5.  </strong>Is the student an athlete? Is there anything specific that he/she would like the College to communicate to his/her coach?</li>
                  </ul>
                 </div>
                </li>
              <!--New nested list-->
              <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Release Forms (Complete on way to Hospital and upon arrival)
                      </li>
                      <li class="a no-bullet bloodList">
                        <h6><b>Wheaton College Release of Information (ROI)</b></h6>
                          <p>Typically these releases allow Student Development to release information to the
student’s parents or anyone else who they have authorized. The links below provide the form that you and the student will need to fill out, as well as an example form for clarity:</p>
              <div class="container">
                <ul style="list-style-type:none ">
                  <li><b> -  </b><a href="pdf/roi.pdf" target="_blank"> ROI Form </a></li>
                  <li><b> -  </b><a href="pdf/roiexample.pdf" target="_blank"> ROI <u>Example</u> Form </a></li>
                </ul>
              </div>
              <h6><b>Hospital Release</b></h6>
              <p>Each hospital also has its own release forms and protocol. Before the student goes for assessment
(via ambulance or getting called back to the Resources, Referrals, and Counseling at Linden Oaks), please ask the
student to include Carrie Williams as the Student Development representative. You can provide the student with the
handout explaining this expectation. Below are "cheat sheets" specific to each hospital as a guide for their indivisual procedures:</p> 
              <div class="container">
                <ul style="list-style-type:none ">
                  <li><b> -  </b><a href="pdf/lindencheat.pdf" target="_blank"> <i>Linden Oaks</i> Cheat Sheet </a></li>
                  <li><b> -  </b><a href="pdf/cdhcheat.pdf" target="_blank"> <i>Central DuPage Hospital</i> Cheat Sheet</a></li>
                </ul>
              </div>
              <h6><b>Linden Oaks Release Password</b></h6>
              <p>When a student is admitted to Linden Oaks, he/she is asked to pick a password.
Individuals who call to talk with hospital staff about the situation, will need to provide the password to hospital staff
before gaining access to information about the student.</p>
              <p>Ultimately, the student can refuse to release any of this information to the College if they desire and we need to
respect this right. They will need to understand, though, that <b>they will not be able to return to campus unless we
have been given permission to speak to the hospital about discharge plans and follow up</b>.</p>
              <div class="alert alert-info col-md-8" role="alert">
                 <h6 class="alert-heading"><i class="fa fa-fw fa-info-circle"></i><strong> Steps to Take</strong></h6>
                  <ul style="list-style-type:none">
                    <li><strong>1.  </strong>Wheaton College ROI: Ask student to sign Wheaton College release form giving Student Development the
permission to speak with the student’s parents and anyone else they would like us to share information
with.</li>
                    <li><strong>2.  </strong>Hospital release form: When filling out the hospital release form, ask the student to list Carrie Williams <a href="tel: 630-752-5797">(630-752-5797)</a> as a contact for the Student Development.</li>
                      <li><strong>3.  </strong>Ask the student to share their code word with you if they are admitted (Linden Oaks).</li>
                   </ul>
                 </div>
                </li>
                 <!--New nested list-->
              <li class="q no-bullet">
                        <img src="images/icons/arrow.png">Arrival at the Hospital
                      </li>
                      <li class="a no-bullet bloodList">
                        <h6><b>At Linden Oaks</b></h6>
                        <p>When you arrive at Linden Oaks, park in the parking lot closest to the west of the main building and walk to the lobby. When you enter, the student who has come with you will need to register with the receptionist. The student should
say that he/she is here for an assessment. The receptionist will hand the student a packet of paperwork and stickers
that say RRC (Resources, Referrals, and Counseling). The student will fill out the paperwork and return it to the front
desk and then wait for a counselor to take him/her back for the assessment.</p>
                      <p>The Wheaton College employees who have traveled with the student can ask the student if he/she would like the staff
member to go with him/her for the assessment. If a counselor for the Counseling Center is present, generally this
person goes back with the student. The student may also be curious about what will happen when he/she is called
back, so talking through this scenario could be helpful as well.</p>
                      <p>When the student is called back he/she will be taken to the first waiting room. In this waiting room everyone will be
asked to put their belongings into a locker and the counselor will lock the items. Sometimes you can keep a book, a
water bottle, or a phone. It varies by the worker, so asking if you can keep something is okay.</p>
                      <p>Next, just the student will be called out and will go with a nurse to a medical evaluation room where he/she will be
given a basic medical assessment (blood pressure, temperature, etc.). Following this medical testing, the student
generally returns to the waiting room. The next step is the mental health assessment. The student may go back alone
for this, everyone may go together, or the student first and then the Wheaton staff member. During the assessment
process, the counselor asks a variety of questions regarding the student’s thoughts, suicidal thoughts, suicidal plans,
actions they have taken, their safety, and the safety of others. Following the initial mental health assessment, the
counselor will leave to consult with a psychiatrist to determine a recommendation. The recommendations will vary
from providing a suggested care plan at Wheaton to day treatment at a local facility to inpatient treatment.</p>
                      <h6><b>At Central DuPage Hospital (CDH)</b></h6>
                      <p>Drive your own vehicle to the hospital and when you arrive at CDH, follow signs to proceed to the E.R. Check in at the
front desk of the E.R. The student will need to tell the check-in attendant that he/she is there for suicidal ideation.</p>
                      <p>Ask the attendant for the hospital’s waiver/release forms that are required for you, as a representative of Wheaton
College, to gain the student’s permission for the hospital to release information to the College. You will need to be on
that release form as early in the process as possible for the hospital staff to keep you updated on the status of
admission after the student is checked in. Additionally, include Carrie Williams on the release so that the hospital can
communicate with the College during the student’s stay at the hospital and when the student will be released.</p>
                    <p>Wait with the student until he/she is checked into the hospital (This may be a lengthy stay in the waiting room, or not,
depending on how busy the E.R. is at the time).</p>
                    <p>If the student has signed a hospital release that includes your name allowing hospital staff to communicate with you,
stay at the hospital after the student has been checked in until you are informed about whether or not the student
has been admitted to the hospital. <i>It is possible that a social worker or other hospital personnel will want to talk with
you after the student has been admitted.</i></p>
                    <p>If the student has not signed a release for you to receive information from the hospital, please call the Dean on Call
for further instruction and inform the hospital that the student <b>will not be able to return to campus until there has
been permission given for the hospital to talk with the school</b>. You are free to leave the hospital once the student
has been checked in and gotten clearance from the Dean.</p>
                  <div class="alert alert-info col-md-9" role="alert">
                 <h6 class="alert-heading"><i class="fa fa-fw fa-question-circle"></i><strong> Questions to Ask/Actions to Take</strong></h6>
                  <ul style="list-style-type:none">
                    <li><strong>1.  </strong>What is being recommended for the student?</li>
                    <li><strong>2.  </strong>What are the next steps that the student needs to take from the given recommendations?</li>
                    <li><strong>3.  </strong>If the student <u>has</u> been admitted:</li>
                    <div class=" container col-md-11">
                      <ul style="list-style-type:none">
                        <li>i. If at Linden Oaks, call an Uber and keep the receipt to be reimbursed.</li>
                        <li>ii. If at CDH, drive your own vehicle home.</li>
                      </ul>
                    </div>
                    <li><strong>4.  </strong>If the student has <u>not</u> been admitted: </li>
                    <div class=" container col-md-11">
                      <ul style="list-style-type:none">
                        <li>i. If from Linden Oaks, they will join you in the Uber to return to campus.</li>
                        <li>ii. If at CDH, their friends can drive them home or you can take them in your own personal
vehicle but have them sign the “Personal Automobile Usage” agreement which is located
in your Hospitalization Handbook.</li>
                      </ul>
                    </div>
                    <li><strong>5.  </strong>If you have been in communication with the On Call Dean, text an update on the outcome of the
assessment. Update the on call counselor of the result of the assessment.</li>
                  </ul>
                 </div>
                 <h6><b>SCN Notes Pertaining to Crisis Calls and Mental Health Assessment & Hospitalizations</b></h6>
                 <p><b><u>Record all pertinent information in SCN:</u></b> It is important that this information is recorded in SCN and shared
with Carrie Williams before you go to bed. Scan and upload the ROI in the student’s file under “Release of
Information” care area.</p>
                <p>Please include the following information on your note:</p>
                <ul style="list-style-type:none">
                <li><b> -  </b>Student name</li>
                <li><b> -  </b>Student ID</li>
                <li><b> -  </b>Date of incident</li>
               <li><b> -  </b>Time of incident</li>
               <li><b> -  </b> Name of person(s) writing report and their title/position </li>
               <li><b> -  </b> Name of person(s) who who took the student to the hospital and their title/position </li>
               <li><b> -  </b> Situation that occurred that prompted staff to have student assessed </li>
               <li><b> -  </b> Was a Release of Info signed for the parents? </li>
               <li><b> -  </b> Were the parents notified? What time? By whom? </li>
               <li><b> -  </b> Was a Release of Info signed for StuDev to talk to WCCC? (has to come from WCCC staff) </li>
               <li><b> -  </b> Was the student hospitalized? </li>
               <li><b> -  </b> If student was hospitalized, was an ROI signed for Stu Dev (Director of Student Care) to speak with hospital personnel? </li>
               <li><b> -   </b> What were the hospital's recommendations if the student was not hospitalized? (IOP, intensive therapy, etc.) </li>
               <li><b> -   </b> Any other pertinent information</li>
              </ul>
                </li>
              </div>
            </li>
          </ul>
        </div>


  <!--Another list-->
 <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Mental Health Response Levels
             </li>
              <!-- Answer -->
             <li class="a no-bullet bloodList">
        <div class = "card text-white bg-info mb-3">
          <div class = "card-header"><strong>Primary Response Level – (for ARDs and RAs)</strong></div><div class="card-body card-text">
            This response level is for ARDs and RAs and it is based on preliminary knowledge of potential risk of harm to self or
others. Residence Life staff at this level of response are required to inform the Residence Director or Graduate
Resident Adviser immediately when a student discloses that they are having thoughts of any kind of harming
themselves or others.</div></div>
        <div class= "card text-white bg-success mb-3" style="margin-top:10px">
          <div class = "card-header"><strong>Exploratory Response Level – (for RDs and GRAs)</strong></div><div class="card-body card-text">  
            This response level is for RDs and GRAs. It allows RDs and GRAs to begin the process of asking probing questions for
the purpose or ascertaining the following:
            <div class="container">
            <ul type="disc">
              <li>Plan – Does the student have a plan to harm self or others?</li>
              <li>Means – Does the student currently have the means by which to harm self or others?</li>
              <li>Intent – How greatly does the student intend to harm self or others?</li>
            </ul>
          </div>
          <p style="margin-top:5px">The RD or GRA <u>must</u> inform an Emergency On-Call Counselor if there is any evidence of suicidal or homicidal
thoughts even if there is no plan, means, or intent to actually harm self or others.</p>
        </div>
        </div>
        <div class= "card text-white bg-dark mb-3" style="margin-top:10px">
          <div class = "card-header"><strong>Clinical Response Level – (for Counselors)</strong></div><div class="card-body card-text">
            This response level is for a Designated Mental Health Professional such as the Emergency On-Call Counselor (EOCC).
The EOCC’s job is to assess the magnitude of risk to self or others and to conclude whether or not the student is an
imminent risk of harm to self or others. This conclusion will be based on the Residence Life collateral information
and suicide/homicide assessment conducted with the actual student.
          <p style="margin-top:5px"><i>If the student is found to be a potential risk of harm to self or others, the EOCC will initiate hospitalization
protocol (during business hour) or recommend that Residence Life initiate hospitalization protocol (afterhours).</i></p>
          </div>
            </div>
        <div class= "card text-white bg-danger mb-3" style="margin-top:10px">
          <div class = "card-header"><strong>Urgent Response Level – (for All Staff)</strong></div><div class="card-body card-text">
            This response level is for <u>all</u> staff members and indicates the need for the immediate contact of Wheaton College
Public Safety or the Wheaton Police department via 911-call. Staff should take such action under the following
circumstances:
                        <div class="container">
            <ul type="disc">
              <li>A student is in the process of attempting, or has attempted suicide</li>
              <li>A student is in the process of harming another student physically</li>
            </ul>
          </div>
        </div>
      </div>
      </li>
    </ul>
  </div>
  <div class="faq_container">
            <ul class="faq no-bullet">

              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Storms / Lightning
              </li>
              <!-- Answer -->
              <li class="a no-bullet">
                <p>
                  Wheaton has a warning system that alerts the campus to the likelihood of lightning. This system is meant to warn pedestrians
                  on campus, but is also especially helpful for warning sports team. The warning system is located on top
                  of the SRC and uses blasts of a horn to indicate its warning.
                </p>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="heading-2">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                          Procedure
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                      <div class="card-body">
                        <ul>
                          <dl class="row">
                            <dt class="col-sm-3">One long blast</dt>
                            <dd class="col-sm-9">
                              <p class="font-italic">Take cover</p>
                            </dd>
                            <dt class="col-sm-3">Three short blasts</dt>
                            <dd class="col-sm-9">
                              <p class="font-italic">All clear</p>
                            </dd>
                          </dl>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading-3">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                          Phone Numbers
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                      <div class="card-body">
                        <ul>
                          <dl class="row">
                            <dt class="col-sm-3">Public Safety</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-752-5911">630-752-5911</a>
                            </dd>
                            <dt class="col-sm-3">Campus Operator</dt>
                            <dd class="col-sm-9">
                              <a href="tel:630-752-5000">630-752-5000</a>
                            </dd>
                          </dl>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!--Another list-->
 <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Suicide/Homicide Warning Signs and Proper Response
             </li>
              <!-- Answer -->
             <li class="a no-bullet bloodList">
              <p>At times, in your role as a Residence Life staff member, situations will arise that cause you to become concerned for
the safety and wellbeing of your residents. The purpose of this document is to highlight warning signs and provide
instruction for assisting students who are experiencing suicidal and/or homicidal thoughts.</p>

        <p><h6><b>Warning Signs of Suicide</b><small class="text-muted"> (section was adapted from http://www.save.org)</small></h6></p>
        <p><i> These signs may mean someone is at risk for suicide. Risk is greater if a behavior is new or has increased and if it
seems related to a painful event, loss or change.</i></p>
        <div class="container">
        <ul type="disc">
          <li>Talking about wanting to die or to kill oneself</li>
          <li>Looking for a way to kill oneself, such as searching online or buying a gun</li>
          <li>Asking someone to hold onto pills or sharp objects in effort to avoid self-harm</li>
          <li>Talking about feeling hopeless or having no reason to live</li>
          <li>Talking about feeling trapped or in unbearable pain</li>
          <li>Talking about being a burden to others</li>
          <li>Increasing the use of alcohol or drugs</li>
          <li>Acting anxious or agitated; behaving recklessly</li>
          <li>Sleeping too little or too much</li>
          <li>Withdrawn or feeling isolated</li>
          <li>Showing rage or talking about seeking revenge</li>
          <li>Displaying extreme mood swings</li>
          <li>Use of Alcohol/Drugs</li>
          <li>Preoccupation with death</li>
          <li>Suddenly happier, calmer</li>
          <li>Loss of interest in things one cares about</li>
          <li>Visiting or calling people to say goodbye</li>
          <li>Making arrangements; setting one's affairs in order</li>
          <li>Giving things away, such as prized possessions</li>
        </ul></div>

        <p><h6><b>Warning Signs of Homicide</b></h6></p>

        <p><i>These signs may mean someone is at risk for homicide. Risk is greater when a cluster of indicators is present.</i></p>

        <div class="container">
        <ul type="disc">
          <li>Violent fantasy content</li>
          <li>Anger problems</li>
          <li>Fascination with weapons and accouterments</li>
          <li>Boasting and practicing of fighting and combat proficiency</li>
          <li>Loner</li>
          <li>Suicidal ideation</li>
          <li>Homicidal ideation</li>
          <li>Stalking</li>
          <li>Non-compliance and disciplinary problems</li>
          <li>Imitation of murderers (i.e. appearance, dress, or memorabilia)</li>
          <li>Interest in previous shooting situations</li>
          <li>Victim/martyr self-concept</li>
          <li>Bizarre and aberrant behavior</li>
          <li>Paranoia</li>
          <li>Violence and cruelty</li>
          <li>Inappropriate affect (i.e. enjoying or being emotionally unaffected by cruel behavior)</li>
          <li>Aggressive acting out</li>
          <li>Police contact</li>
          <li>Mental health history related to dangerousness</li>
          <li>Use of Alcohol/Drugs</li>
        </ul></div>

        <p><h6><b>How to Respond</b></h6></p>

        <p><i>Depending on one’s role in Residence Life, there are varying levels of response to suicidal/homicidal
thoughts and/or behavior.</i></p>
        <div class="container">
        <div class = "card">
            <div class = "card-header">
                
                    <strong>Assistant Residence Directors and Resident Assistants</strong>
                  </div> 
                  <div class="card-body card-text">
                    
                    As Assistant Residence Directors (ARD) or Resident Assistants (RA), you are <u>not</u> expected to assess
the severity of suicidal/homicidal thoughts if you recognize the aforementioned warning signs.
Instead, when it is clear that a fellow student is having suicidal thoughts in any form, you will be
expected to inform your on-duty Residence Director or Graduate Resident Adviser immediately. It is best to think of your level of risk management response as a “Primary Response Level”.</div></div>
</div>
        
        <div class="container" style="margin-top:10px">
        <div class = "card">
          <div class = "card-header"><strong>Residence Directors and Graduate Resident Advisers</strong></div><div class="card-body card-text">
            Residence Directors (RD) and Graduate Resident Advisers (GRA), as a function of your training, are
expected to assess the severity of suicidal/homicidal thoughts that have been reported to you.
Once you have an understanding of the student’s thoughts surrounding plan, means, and intent,
this information is to be disclosed to the Emergency On-Call Counselor regardless of the student’s
response. It is best to think of this level of risk management response as an “Exploratory Response
Level”. A formal assessment will then be conducted either on the phone or in person.</div></div></div>
            
    </li>
  </ul>
</div>
<li class="q no-bullet">
                <img src="images/icons/arrow.png"> Tornado
              </li>
              <li class="a">
                <p>
                  Tornado information.
                </p>
              </li>
   <div class="faq_container">
            <ul class="faq no-bullet">


              <li class="q no-bullet">
                <img src="images/icons/arrow.png"> Vomit Clean-Up
              </li>
              <li class="a no-bullet">
                <p>In the unfortunate event that a student vomits and is not able to clean it up, Residence Life staff members are charged with helping. Each building should be equipped with supplies from Custodial Services/Student Health Services to complete this most humble of tasks. A special powder is first applied, then the contents are thrown in the trash, and the area should be mopped if vomit occurred on a hard surface. A work request should be completed to request that Facilities Management shampoo the affected area if a student vomits on carpet.</p>
                <p>To request the correct supplies, contact the Student Health Services at x5072.</p> 
              </li>
          </ul>
      </div>

   <div class="faq_container">
           <ul class="faq no-bullet">

             <li class="q no-bullet">
               <img src="images/icons/arrow.png"> Wellness Check
             </li>
              <!-- Answer -->
             <li class="a no-bullet bloodList">
              <p>Throughout the academic year you may be contacted by someone in student development to perform a
“wellness check” on one of your students. A wellness check is a face-to-face interaction with a student. You
will be given an “urgency status” that informs how quickly you need to meet with the student which is
discussed below.</p>

        <p><h6><b>Finding the Student: </b></h6>
        <ul style="list-style-type:none">
          <li><b>1. </b>Look up student on SCN and collect all info you can such as phone number and class schedule.</li>
          <li><b> 2. </b>Visit the student’s apartment and if not there subtly ask a roommate or close friend in room where
they might be and when they saw them last.</li>
          <li><b> 3. </b>Call their cell phone to see if you can get a response.</li>
          <li><b> 4. </b>If you unable to make any connection with the student please call back the SD staff person who called
you to discuss next game plan for finding the student.</li>
          </ul></p>

        <p><h6><b>When you are asked to perform a wellness check, you will be given the following information:</b></h6>
        <ul style="list-style-type:none">
          <li><b> -  </b>Student name</li>
          <li><b> -  </b>Student contact information (you may need to look it up yourself)</li>
          <li><b> -  </b>Symptoms of student/ reason for concern</li>
          <li><b> -  </b>Specific things you are to inquire about</li>
        </ul></p>
        <p><i>Feel free to ask individual who is requesting you to perform a wellness check for further information, or
follow-up steps.</i></p>

          <h5><u>The following are the different codes that are utilized to rank urgency of the situation:</u></h5>
<div class="w3-container">
          <div class="w3-panel w3-padding-16 w3-pale-red">
<strong>Red – Crisis Situation That Needs Immediate Attention –</strong> You are to immediately look for the student and
make contact with them. Once you have met with the student call back the staff member who contacted you
and let them know more information about the situation. If you cannot find the student or reach them by
phone please inform the staff member who called you.
</div>
          <div class="w3-panel w3-padding-16  w3-khaki">
<strong>Orange – Situation That Needs Attention Soon –</strong> You are to look for and make contact with the student
within the next 8-10 hrs. Once wellness check has been completed you will call back the staff member who
contacted you and let them know the information you discovered. If you cannot find the student or reach
them by phone please inform the staff member who called you.
  </div>
           <div class="w3-panel w3-padding-16 w3-pale-yellow">
        <strong>Yellow – Situation That Needs Attention Within The Next 24hrs –</strong> You are to look for and make contact with
the student within the next 24hrs. Once wellness check has been completed you will call or email back the
staff member who contacted you and let them know what information you discovered. If you cannot find the
student or reach them by phone please inform the staff member who called you.
      </div>

      </div>

      <p><h6><b>As you are going into a wellness check, here are some helpful starter questions or things to keep in mind:</b></h6>
        <ul style="list-style-type:none"><i>
          <li><b> -  </b>Remain calm...it is important that you communicate calmness to the student, this will allow them to be honest with you.</li>
          <li><b> -  </b>Ease into the conversation, but be honest with why you are checking in (if you are wondering how
much information you are able to share with this student, make sure to ask the staff member who
requested you to perform a wellness check).</li>
          <li><b> -  </b>It is important to think of the principle “make sure that you gain enough information, or follow through
with a student situation, so that you are able to sleep at night”. This is a good litmus test for what
constitutes as a “need to respond immediately” and what can wait until morning situation.</li>
          <li><b> -  </b>If there is evidence or suspicion of self-harm or thoughts/ plans of suicide, please follow the
response plan below. If the Counseling Center is open, please walk the student directly to the
Counseling Center.</li>

          <li><b> -  </b>After a wellness check, please immediately follow up with the individual who asked you to perform the
wellness check. If the student is in danger, do not leave the student alone. Feel free to call for back-up
if you need another staff member to be present with you.</li>
        </ul></p></i>

  </ul>
</div>
 </ul>

          </div>

        </div>
        </nav>

      </div>
    </div>
  </div>
</div>







