{{#section 'head'}}
<!-- stuff/css stylesheets that goes in head: -->
<link href="css/inopen.css" rel="stylesheet"> {{/section}} 

{{#section 'script'}}
<!-- javascript files that go in the bottom html: -->
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/InOpen.js"></script>
<script type="text/javascript"> addRow();</script>
<script>var email = "<%= email %>";</script>
{{/section}}

<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">In Open</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <h1>IN/OPEN</h1>
        <p>This schedule allows you to see when your RAs will be In, Open, Or Off</p>
        <p>Click on a value to change it</p>


        <select name="build" id="building">
          <option value="Fischer">Fischer</option>
          <option value="Traber">Traber</option>
        </select>
        <select name="week" id="theWeek">
          <option id = "week1" value="Week 1">week 1</option>
          <option id = "week2" value="Week 2">Week 2</option>
          <option id = "week3" value="Week 3">Week 3</option>
        </select>
        <button class="button" type="submit" id="submitButton" onclick='changeTable()'>Find</button>

        <br/>
        <line id="buildLable">Fischer</line>
        <line id="weekLable">Week 1</line>
        <line id="testing">The test</line>
        <div class="container-fluid">
          <div class="row">
                <div class="col-xl-9 mx-auto">
        <table id = "maintable">
          <tr>
            <th>RAs</th>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thur</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </table>
        </div>
        </div>
        </div>
        <br/>
        
      </div>
    </div>
  </div>
</div>