{{#section 'head'}}
<!-- stuff/css stylesheets that goes in head: -->

<link href="css/phonebook.css" rel="stylesheet">
{{/section}}

{{#section 'script'}}
{{/section}}

<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Phonebook</li>
    </ol>
  </div>


  <div class="container">
  <!--<div class="jumbotron" style="background-color: white; padding-top:10px">-->
    <div class="row">
      <div class="col">
        <h3>
          <strong> Major Emergency </strong>
        </h3>
        <dl>
          <dt class="col-sm-3">Public Safety</dt>
          <dd class="col-sm-9">
            <a href="tel:630-752-5911">630-752-5911</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h4>
          <strong>On-Duty Cell Numbers</strong>
        </h4>
        <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
          <thead>
            <tr>
              <th>Residence</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fischer</td>
              <td>
                <a href="tel:630-447-9353">(630) 447-9353</a>
              </td>
            </tr>
            <tr>
              <td>Smith-Traber</td>
              <td>
                <a href="tel:630-344-9752">(630) 344-9752</a>
              </td>
            </tr>
            <tr>
              <td>McEvans/Williston</td>
              <td>
                <a href="tel:630-447-8245">(630) 447-8245</a>
              </td>
            </tr>
            <tr>
              <td>Apartments/Houses</td>
              <td>
                <a href="tel:630-384-9472">(630) 384-9472</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Second table-->
      <div class="col-md-5">
        <h4>
          <strong>On-Call Counselor</strong>
        </h4>
        <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
          <thead>
            <tr>
              <th>Availability</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>During Business Hours</td>
              <td>
                <a href="tel:630-752-5321">(630) 752-5321</a>
              </td>
            </tr>
            <tr>
              <td>After Hours</td>
              <td>
                <a href="tel:331-551-8837">(331) 551-8837</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <h5>
          <strong>On-Call Dean Number for evening and weekend emergencies</strong>
        </h5>
        <a href="tel:847-886-9101">(847) 886-9101</a>
      </div>
      <!--End 3-split-->
      </div>
      <div class="row">
        <div class="col">
          <h4>
            <strong>
              <br>Other Important Contact Information</br>
            </strong>
          </h4>
          <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
            <thead>
              <tr>
                <th>Department</th>
                <th>Phone Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DuPage Crisis Intervention</td>
                <td>
                  <a href="tel:630-627-1700">(630) 627-1700</a>
                </td>
              </tr>
              <tr>
                <td>Central DuPage Hospital</td>
                <td>
                  <a href="tel:630-933-1600">(630) 933-1600</a>
                </td>
              </tr>
              <tr>
                <td>Linden Oaks Hospital at Edward</td>
                <td>
                  <a href="tel:630-305-5500">(630) 305-5500</a>
                </td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>
            <br>
            <b>
              <u>The RA/GRA determines whom shall be brought into the situation from these contacts</u>
            </b>
            </br>
          </h5>
          <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
            <thead>
              <tr>
                <th>Name (Department)</th>
                <th>Phone Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Carrie Williams</td>
                <td>
                  <a href="tel:815-901-1070">(815) 901-1070</a>
                </td>
              </tr>
              <tr>
                <td>Justin Heth (Dean of Residence Life)</td>
                <td>
                  <a href="tel:571-393-4721">(571) 393-4721</a>
                </td>
              </tr>
              <tr>
                <td>Tousaint Whetstone (Director of the Counseling Center)</td>
                <td>
                  <a href="tel:630-917-9049">(630) 917-9049</a>
                </td>
              </tr>
              <tr>
                <td>Allison Ash (Dean of Student Care and Graduate Student Life)</td>
                <td>
                  <a href="tel:949-584-8035">(949) 584-8035</a>
                </td>
              </tr>
              <tr>
                <td>Britt Black (Director of Student Health Services)</td>
                <td>
                  <a href="tel:630-723-8410">(630) 723-8410</a>
                </td>
              </tr>
              <tr>
                <td>Paul Chelsen (Vice President for Student Development)</td>
                <td>
                  <a href="tel:630-204-5132">(630) 204-5132</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr />
      <h3><center><strong>Residence Life Staff</strong></center></h3>
       <div class="row" style="margin-top:20px">
      <div class="col-md-6">
        <h4>
          <strong>Fischer</strong>
        </h4>
        <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
          <thead>
            <tr>
              <th>Name (Department)</th>
              <th>CPO</th>
              <th>Phone Number</th>
              <th>Room</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-weight:bold;color:red"><b>
              <td>Stephen Cartwright (RD)</td>
              <td>W104</td>
              <td><a href="tel:224-436-3083" style="color:red">224-436-3083</a></td>
              <td>235</td></b>
            </tr>
            <tr style="font-weight:bold">
              <td>Natalie Jorde (GRA)</td>
              <td>W113</td>
              <td><a href="tel:608-433-4444">608-433-4444</a></td>
              <td>234</td>
            </tr>
            <tr style="font-weight:bold">
              <td>Peter Yeung (GRA)</td>
              <td>W114</td>
              <td><a href="tel:720-209-8827">720-209-8827</a></td>
              <td>233</td>
            </tr>
            <tr style="font-weight:bold">
              <td>Preston Teuscher (ARD)</td>
              <td>2834</td>
              <td><a href="tel:815-520-5278">815-520-5278</a></td>
              <td>239</td>
            </tr>
            <tr style="font-weight:bold">
              <td>Kyra Perez (ARD)</td>
              <td>2384</td>
              <td><a href="tel:312-719-6453">312-719-6453</a></td>
              <td>229</td>
            </tr>
            <tr>
              <td>Isabelle Case (RA)</td>
              <td>781</td>
              <td><a href="tel:765-667-4416">765-667-4416</a></td>
              <td>W106</td>
            </tr>
            <tr>
              <td>Alexis McIlarth (RA)</td>
              <td>1723</td>
              <td><a href="tel:773-870-5368">773-870-5368</a></td>
              <td>W206</td>
            </tr>
            <tr>
              <td>Courtney Linscott (RA)</td>
              <td>1658</td>
              <td><a href="tel:913-907-6899">913-907-6899</a></td>
              <td>W306</td>
            </tr>
            <tr>
              <td>Hannah Lane (RA)</td>
              <td>1075</td>
              <td><a href="tel:719-930-2930">719-930-2930</a></td>
              <td>W406</td>
            </tr>
            <tr>
              <td>Christiana McGann (RA)</td>
              <td>1719</td>
              <td><a href="tel:845-248-3744">845-248-3744</a></td>
              <td>W506</td>
            </tr>
            <tr>
              <td>Mindy Corbin (RA)</td>
              <td>1001</td>
              <td><a href="tel:612-250-8206">612-250-8206</a></td>
              <td>S341</td>
            </tr>
            <tr>
              <td>Eszter Bentch (RA)</td>
              <td>472</td>
              <td><a href="tel:609-613-2355">609-613-2355</a></td>
              <td>S441</td>
            </tr>
            <tr>
              <td>RJ Boyle (RA)</td>
              <td>604</td>
              <td><a href="tel:630-699-9770">630-699-9770</a></td>
              <td>S541</td>
            </tr>
            <tr>
              <td>Joshua Lam (RA)</td>
              <td>1926</td>
              <td><a href="tel:917-832-0776">917-832-0776</a></td>
              <td>E254</td>
            </tr>
            <tr>
              <td>John Camacho (RA)</td>
              <td>716</td>
              <td><a href="tel:808-258-3589">808-258-3589</a></td>
              <td>E354</td>
            </tr>
            <tr>
              <td>Thomas Whittington (RA)</td>
              <td>3173</td>
              <td><a href="tel:614-286-0290">614-286-0290</a></td>
              <td>E454</td>
            </tr>
            <tr>
              <td>Joel Nirmalnath (RA)</td>
              <td>1828</td>
              <td><a href="tel:419-989-2310">419-989-2310</a></td>
              <td>E554</td>
            </tr>
            <tr>
              <td>Nathan Wallace (RA)</td>
              <td>3032</td>
              <td><a href="tel:269-303-0172">269-303-0172</a></td>
              <td>T700</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h4>
          <strong>Smith-Traber</strong>
        </h4>
        <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
          <thead>
            <tr>
              <th>Name (Department)</th>
              <th>CPO</th>
              <th>Phone Number</th>
              <th>Room</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-weight:bold;color:red">
              <td>Kat Haase (RD)</td>
              <td>W103</td>
              <td><a href="tel:630-432-9423" style="color:red">630-432-9423</a></td>
              <td>T110</td>
            </tr>
            <tr style="font-weight:bold">
              <td>Molly Bender (GRA)</td>
              <td>W108</td>
              <td><a href="tel:719-233-4048">719-233-4048</a></td>
              <td>T105</td>
            </tr>
            <tr style="font-weight:bold">
              <td>Ryan Anderson (GRA)</td>
              <td>W125</td>
              <td><a href="tel:831-241-1023">831-241-1023</a></td>
              <td>S231</td>
            </tr>
            <tr style="font-weight:bold">
              <td>Chloe Burris (ARD)</td>
              <td>325</td>
              <td><a href="tel:704-774-0818">704-774-0818</a></td>
              <td>S103</td>
            </tr>
            <tr>
              <td>Ella Knowlton (RA)</td>
              <td>1538</td>
              <td><a href="tel:920-763-5210">920-763-5210</a></td>
              <td>S110</td>
            </tr>
            <tr>
              <td>Caryn Ausenhus (RA)</td>
              <td>183</td>
              <td><a href="tel:425-457-6452">425-457-6452</a></td>
              <td>S210</td>
            </tr>
            <tr>
              <td>Madeleine Ruch (RA)</td>
              <td>2243</td>
              <td><a href="tel:630-532-4252">630-532-4252</a></td>
              <td>S310</td>
            </tr>
            <tr>
              <td>Katya Hanessian (RA)</td>
              <td>1331</td>
              <td><a href="tel:949-228-5206">949-228-5206</a></td>
              <td>E245</td>
            </tr>
            <tr>
              <td>Megan Hogan (RA)</td>
              <td>1388</td>
              <td><a href="tel:734-788-2897">734-788-2897</a></td>
              <td>E345</td>
            </tr>
            <tr>
              <td>Sam Heath (RA)</td>
              <td>1345</td>
              <td><a href="tel:215-275-9450">215-275-9450</a></td>
              <td>T200</td>
            </tr>
            <tr>
              <td>Dean Penner (RA)</td>
              <td>1998</td>
              <td><a href="tel:402-278-2489">402-278-2489</a></td>
              <td>T300</td>
            </tr>
            <tr>
              <td>John Liversedge (RA)</td>
              <td>1666</td>
              <td><a href="tel:859-553-3635">859-553-3635</a></td>
              <td>T400</td>
            </tr>
            <tr>
              <td>Michael Contreras (RA)</td>
              <td>978</td>
              <td><a href="tel:619-794-8873">619-794-8873</a></td>
              <td>T500</td>
            </tr>
            <tr>
              <td>Jake Monseth (RA)</td>
              <td>1783</td>
              <td><a href="tel:763-257-2924">763-257-2924</a></td>
              <td>T600</td>
            </tr>
          </tbody>
        </table>
        <h4>
          <strong>Williston</strong><small class="text-muted"> (Supervised by Upper-class RD)</small></h4>
        
        <table class="table table-sm table-bordered  table-hover table-responsive table-striped" style="border:none">
          <thead>
            <tr>
              <th>Name (Department)</th>
              <th>CPO</th>
              <th>Phone Number</th>
              <th>Room</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-weight:bold;color:red">
              <td>Alley Kammer(GRA)</td>
              <td>W118</td>
              <td><a href="tel:815-861-4941" style="color:red">815-861-4941</a></td>
              <td>105</td>
            </tr>
            <tr>
              <td>Colin Wolgemuth (RA)</td>
              <td>3194</td>
              <td><a href="tel:717-381-5453">717-381-5453</a></td>
              <td>115</td>
            </tr>
            <tr>
              <td>Paul Green (RA)</td>
              <td>1296</td>
              <td><a href="tel:714-305-2124">714-305-2124</a></td>
              <td>215</td>
            </tr>
            <tr>
              <td>Stephanie Bagley (RA)</td>
              <td>226</td>
              <td><a href="tel:630-388-9552">630-388-9552</a></td>
              <td>315</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


      <p>
        <br>
        <b>
          <center>Wheaton College has an emergency notification system that sends out alerts via text messages. It also will send
            emergency messages to message boards around campus.</center>
        </b>
        </br>
      </p>
  </div>
  </div>
</div>