<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Phonebook</li>
    </ol>
  </div>

  <div class="jumbotron">
    <h3>
      <strong> Major Emergency </strong>
    </h3>
    <dl class="row">
      <dt class="col-sm-3">Public Safety</dt>
      <dd class="col-sm-9">
        <a href="tel:630-752-5911">630-752-5911</a>
      </dd>
    </dl>
    <div class="row">
      <div class="col-md-4">
        <h4>
          <strong>On-Duty Cell Numbers</strong>
        </h4>
        <table class="table table-sm table-bordered  table-hover table-responsive " style="border:none">
          <thead>
            <tr>
              <th>Residence</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fischer</td>
              <td>
                <a href="tel:630-447-9353">(630) 447-9353</a>
              </td>
            </tr>
            <tr>
              <td>Smith-Traber</td>
              <td>
                <a href="tel:630-344-9752">(630) 344-9752</a>
              </td>
            </tr>
            <tr>
              <td>McEvans/Williston</td>
              <td>
                <a href="tel:630-447-8245">(630) 447-8245</a>
              </td>
            </tr>
            <tr>
              <td>Apartments/Houses</td>
              <td>
                <a href="tel:630-384-9472">(630) 384-9472</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Second table-->
      <div class="col-md-4">
        <h4>
          <strong>On-Call Counselor</strong>
        </h4>
        <table class="table table-sm table-bordered  table-hover table-responsive " style="border:none">
          <thead>
            <tr>
              <th>Avalability</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>During Business Hours</td>
              <td>
                <a href="tel:630-752-5321">(630) 752-5321</a>
              </td>
            </tr>
            <tr>
              <td>After Hours</td>
              <td>
                <a href="tel:331-551-8837">(331) 551-8837</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h5>
          <strong>On-Call Dean Number for evening and weekend emergencies</strong>
        </h5>
        <a href="tel:847-886-9101">(847) 886-9101</a>
      </div>
      <!--End 3-split-->
      <h4>
        <strong>
          <br>Other Important Contact Information</br>
        </strong>
      </h4>
      <table class="table table-sm table-bordered  table-hover table-responsive " style="border:none">
        <thead>
          <tr>
            <th>Department</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DuPage Crisis Intervention</td>
            <td>
              <a href="tel:630-627-1700">(630) 627-1700</a>
            </td>
          </tr>
          <tr>
            <td>Central DuPage Hospital</td>
            <td>
              <a href="tel:630-933-1600">(630) 933-1600</a>
            </td>
          </tr>
          <tr>
            <td>Linden Oaks Hospital at Edward</td>
            <td>
              <a href="tel:630-305-5500">(630) 305-5500</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h5>
        <br>
        <b>
          <u>The RA/GRA determines whom shall be brought into the situation from these contacts</u>
        </b>
        </br>
      </h5>
      <table class="table table-sm table-bordered  table-hover table-responsive " style="border:none">
        <thead>
          <tr>
            <th>Name (Department)</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Carrie Williams</td>
            <td>
              <a href="tel:815-901-1070">(815) 901-1070</a>
            </td>
          </tr>
          <tr>
            <td>Justin Heth (Dean of Residence Life)</td>
            <td>
              <a href="tel:571-393-4721">(571) 393-4721</a>
            </td>
          </tr>
          <tr>
            <td>Tousaint Whetstone (Director of the Counseling Center)</td>
            <td>
              <a href="tel:630-917-9049">(630) 917-9049</a>
            </td>
          </tr>
          <tr>
            <td>Allison Ash (Dean of Student Care and Graduate Student Life)</td>
            <td>
              <a href="tel:949-584-8035">(949) 584-8035</a>
            </td>
          </tr>
          <tr>
            <td>Britt Black (Director of Student Health Services)</td>
            <td>
              <a href="tel:630-723-8410">(630) 723-8410</a>
            </td>
          </tr>
          <tr>
            <td>Paul Chelsen (Vice President for Student Development)</td>
            <td>
              <a href="tel:630-204-5132">(630) 204-5132</a>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <br>
        <b>
          <center>Wheaton College has an emergency notification system that sends out alerts via text messages. It also will send
            emergency messages to message boards around campus.</center>
        </b>
        </br>
      </p>
    </div>
  </div>
</div>