<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>

{{!-- Body of the page --}}
  <div class="container">
    <h1> Welcome to ResApp!</h1>
    <p>Use the menu to use a service.</p>
  </div>
</div>