<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>

{{!-- Body of the page --}}
  <div align="center" class="container">
    <h1> Welcome to ResApp!</h1>
    <p>Use the menu to use a service.</p>
  </div>

{{!-- Script to Display the date --}}
<div class = "container" align="center">
<script>
<!-- Begin
var now = new Date();
var days = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
function fourdigits(number) {
    return (number < 1000) ? number + 1900 : number;
}
today =  days[now.getDay()] + ", " +
         months[now.getMonth()] + " " +
         date + ", " +
         (fourdigits(now.getYear())) ;
document.write("Today's Date: " + today);
//  End -->
</script>
</div>
<div class="container">
  <div class="row">
    <div class="col" style="text-align:center; padding-top:20px;">
      <iframe src="http://www.topverses.com/widget2.php?find1=&fg=4F474E&bg=F5F5F5&font=14pt Times New Roman&raw=&search=x&rate=H&" 
        style="width:300px;height:250px;border-radius: 5px;border: 1px solid gray;">
      </iframe>
    </div>
  </div>
</div>

 
