<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>

{{!-- Body of the page --}}
  <div align="center" class="container">
    <h1> Welcome to ResApp!</h1>
    <p>Use the menu to use a service.</p>
  </div>

{{!-- Script to Display the date --}}
<div class = "container" align="center">
<script>
<!-- Begin
var now = new Date();
var days = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
function fourdigits(number) {
    return (number < 1000) ? number + 1900 : number;
}
today =  days[now.getDay()] + ", " +
         months[now.getMonth()] + " " +
         date + ", " +
         (fourdigits(now.getYear())) ;
document.write("Today's Date: " + today);
//  End -->
</script>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <iframe src="http://www.topverses.com/widget2.php?find1=&fg=007BFF&bg=FFFFFF&font=14pt Garamond&raw=font-style:italic;&search=x&rate=H&" 
        style="width:300px;height:250px">
      </iframe>
    </div>
    <div class="col-sm">

      {{!-- Weather Widget --}}
      <div class="container" style="width: 258px;"><iframe style="display: block;" 
        src="https://cdnres.willyweather.com/widget/loadView.html?id=86638"
        width="258" height="228" frameborder="0" scrolling="no"></iframe>
        <a style="position: relative;display: block;height: 20px;z-index: 1;margin: -20px 0 0 0;text-indent: -9999em" 
        href="https://www.willyweather.com/il/dupage-county/wheaton.html"
         rel="nofollow">Willie's Weather</a></div>
      </div>
    </div>
  </div>
</div>

 
