<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>

{{!-- Body of the page --}}
  <div align="center" class="container">
    <h1> Welcome to ResApp!</h1>
    <p>Use the menu to use a service.</p>
  </div>

{{!-- Script to Display the date --}}
<div class = "container" align="center">
<script>
<!-- Begin
var now = new Date();
var days = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
function fourdigits(number) {
    return (number < 1000) ? number + 1900 : number;
}
today =  days[now.getDay()] + ", " +
         months[now.getMonth()] + " " +
         date + ", " +
         (fourdigits(now.getYear())) ;
document.write("Today's Date: " + today);
//  End -->
</script>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <iframe src="http://www.topverses.com/widget2.php?find1=&fg=4F474E&bg=F5F5F5&font=14pt Times New Roman&raw=&search=x&rate=H&" 
        style="width:300px;height:250px;border-radius: 5px;border: 1px solid gray;">
      </iframe>
    </div>
    <div class = "col-sm">
    <iframe src="https://calendar.google.com/calendar/embed?src=wheatontraber%40gmail.com&ctz=America%2FChicago'
	        mode='DAY&amp';	showNav=0&amp; showPrint=0&amp; showDate=0&amp; showTabs=0&amp; showCalendars=0&amp; showTz=0&amp; dates=20100108/20100108&amp;
	        height=1000&amp; bgcolor=%23FFFFFF&amp; 
          src= https://calendar.google.com/calendar/embed?src=wheatontraber%40gmail.com&ctz=America%2FChicago' color=%23AB8B00&amp; 
          tz=America%2FLos_Angeles" style=" border-width:0 " width="1000" height="1000" frameborder="0" scrolling="no">
    </iframe>
    </div>
    
    <div class="col-sm">

      {{!-- Weather Widget --}}
      <div class="container" style="width: 258px;"><iframe style="display: block;" 
        src="https://cdnres.willyweather.com/widget/loadView.html?id=86638"
        width="300" height="300" frameborder="0" scrolling="no"></iframe>
        <a style="position: relative;display: block;height: 20px;z-index: 1;margin: -20px 0 0 0;text-indent: -9999em" 
        href="https://www.willyweather.com/il/dupage-county/wheaton.html"
         rel="nofollow">Willie's Weather</a></div>
      </div>
    </div>
  </div>
</div>

 
