{{#section 'head'}}
<!-- stuff/css stylesheets that goes in head: -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="css/roster.css" rel="stylesheet"> {{/section}} {{#section 'script'}}
<!-- javascript files that go in the bottom html: -->
<script>
    $(document).ready(function(){
        var url = 'api/load-building-list'
        $.ajax({
            type: "GET",
            url: url,
            data: null,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data, status, xhr) {
                $.each(data.results, function (key, val) {
                    $("#upload-building-list, #add-building-list, #print-building-list").append(
                        "<option value='" + val.buildingID + "'>" +
                           val.buildingName +
                        "</option>"
                    );
                });
            },
            error: function (xhr) {
                alert("ERROR : " + xhr.responseText);
            }
        });
    });
    //Script for changing the display of the file selector when a file is chosen
    $('#fileSelect').on('change', function(event) {
        var filePaths = $(this).val().split(/\\|\)/);
        console.log(filePaths[filePaths.length-1]);
        $('#fileDisplay').empty();
        $('#fileDisplay').append(filePaths[filePaths.length-1]);
    });
    //Script for successful upload message for upload roster
    $("#upload").submit(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#upload')[0];

        // Create an FormData object
        var data = new FormData(form);
        var check = true;
        if (document.getElementById('reset-upload').checked) {
            check = confirm("Are you sure you wish to write over all student records associated with this dorm?");
        }

        if (check) {
            // disabled the submit button
            $("#chart_upload").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/resapp/upload",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data, status, xhr) {
                    alert("SUCCESS : " + xhr.responseText);
                    $("#chart_upload").prop("disabled", false);
                },
                error: function (xhr) {
                    alert("ERROR : " + xhr.responseText);
                    $("#chart_upload").prop("disabled", false);
                }
            });
        }
    });
    $("#add-student").submit(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#add-student')[0];

        // Create a FormData object
        var data = new FormData(form);

        // disable the submit button until server confirmation
        $("#add-student").prop("disabled", true);

        var url = 'api/students/add';

        url += '/' + data.get('fn');
        url += '/' + data.get('ln');
        if (data.get('pn'))
            url += '/' + data.get('pn');
        else url += '/NULL';
        url += '/' + data.get('e');
        url += '/' + data.get('id');
        url += '/' + data.get('dob');
        url += '/' + data.get('y');
        url += '/' + data.get('cd');
        url += '/' + data.get('s');
        url += '/' + data.get('c');
        url += '/' + data.get('b');
        url += '/' + data.get('f');
        url += '/' + data.get('r');

        $.ajax({
            type: "GET",
            url: url,
            data: null,
            cache: false,
            timeout: 600000,
            success: function (data, status, xhr) {
                alert("SUCCESS : " + xhr.responseText);
                $("#add-student").prop("disabled", false);
                form.reset();
            },
            error: function (xhr) {
                alert("ERROR : " + xhr.responseText);
                $("#add-student").prop("disabled", false);
            }
        });
    });

    //function to delete student - written by Caleb so possibly error prone (Asher please check this haha)
    $("#delete-student").submit(function (event) {
        //stop submit the form, we will post it manually.
        event.preventDefault();

        if (confirm("Are you sure you wish to delete this student?")) {
            // Get form
            var form = $('#delete-student')[0];

            // Create a FormData object
            var data = new FormData(form);

            // disable the submit button until server confirmation
            $("#delete-student").prop("disabled", true);

            var url = 'api/stu-del-id'

            url += '/' + data.get('id');

            $.ajax({
                type: "DELETE",
                url: url,
                data: null,
                cache: false,
                timeout: 600000,
                success: function (data, status, xhr) {
                    alert("SUCCESS : " + xhr.responseText);
                    $("#delete-student").prop("disabled", false);
                },
                error: function (xhr) {
                    alert("ERROR : " + xhr.responseText);
                    $("#delete-student").prop("disabled", false);
                }
            });
        }
    });

    // display the results of the search
    $("#search-student").submit(function (event) {
        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#search-student')[0];

        // Create a FormData object
        var data = new FormData(form);

        // disable the submit button until server confirmation
        $("#search-student").prop("disabled", true);

        var url = 'api/stu-search'
        url += '/' + data.get('search') + '/' + data.get('order-by');
        $("#search-table-body").empty();

        $.ajax({
            type: "GET",
            url: url,
            data: null,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data, status, xhr) {
                $.each(data.results, function (key, val) {
                    var FloorRoom;
                    if (val.floor == null) {
                        FloorRoom = val.room;
                    }
                    else {
                        FloorRoom = val.floor + " " + val.room;
                    }
                    $("#search-table-body").append(
                        "<tr>" +
                            "<td>"+val.name_first+"</td>"+
                            "<td>"+val.name_last+"</td>"+
                            "<td>"+val.name_preferred+"</td>"+
                            "<td>"+val.studentID+"</td>"+
                            "<td>"+val.cohort_year+"</td>"+
                            "<td>"+val.date_of_birth.substring(0,10)+"</td>"+
                            "<td>"+val.city+", "+val.state_province+"</td>"+
                            "<td>"+val.buildingName+" "+FloorRoom+"</td>"+
                        "</tr>"
                    );
                });
                $("#delete-student").prop("disabled", false);
            },
            error: function (xhr) {
                alert("ERROR : " + xhr.responseText);
                $("#delete-student").prop("disabled", false);
            }
        });
    });

    $('#add-upload').on('click', function (event) {
        $('#dorm-select, #reset-warning').hide();
    });
    $('#reset-upload').on('click', function (event) {
        $('#dorm-select, #reset-warning').show();
    });

    // Load the floor select list based off the building selected in the print list box.
    $('#print-building-list').on('change', function (event) {
        $.get('api/load-floor-list/' + $('#print-building-list').val(), function(data, status, xhr){
            $('#print-floor-list').empty();
            $.each(data.results, function (key, val) {
                $("#print-floor-list").append(
                    "<option value='" + val.floor + "'>" +
                       (val.floor===null? '':val.floor) +
                    "</option>"
                );
            });
        })
    });
    // Load the floor select list based off the building selected in the add model.
    $('#add-building-list').on('change', function (event) {
        $.get('api/load-floor-list/' + $('#add-building-list').val(), function(data, status, xhr){
            $('#add-floor-list').empty();
            $.each(data.results, function (key, val) {
                $("#add-floor-list").append(
                    "<option value='" + val.floor + "'>" +
                       (val.floor===null? '':val.floor) +
                    "</option>"
                );
            });
        })
    });

</script>
<script src="js/accounts.js"></script> {{/section}}

{{!-- Actual Content --}}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home">Home</a>
            </li>
            <li class="breadcrumb-item active">Roster</li>
        </ol>
        <div class="row">
            <div class="col-12">
                {{!-- Upload Chart --}}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-upload"></i> Upload New Student Chart
                    </div>
                    <div class="card-body">

                        <!--the upload form-->
                        <form id="upload" action="upload" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col">
                                    <p>To update roster data, first indicate the dorm of the roster chart to be uploaded.</p>
                                    <label class="radio-inline"><input id="add-upload" type="radio" name="add-reset" value="add"> Add</label>
                                    <label class="radio-inline"><input id="reset-upload" type="radio" name="add-reset" value="reset" checked> Reset & add</label><br>
                                    <div id='dorm-select'>
                                        <b>Dorm:</b>
                                        <select id="upload-building-list" name="dorm" class="custom-select m-b-10 m-l-5 custom-select-sm" style="width:40%;">
                                            <option value="all">All dorms</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col">
                                    <b>Select Floor Chart:</b>
                                    <br>
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="fileSelect" name="chartupload">
                                            <label class="custom-file-label" for="fileSelect" id="fileDisplay">Choose file...</label>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-dark m-b-10" value="Upload" id="chart_upload">
                                    <p id="reset-warning" style="font-size:13px; color:red;">Warning: Uploading will overwrite the current roster with specified building.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {{!-- Print Chart --}}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-print"></i> Print Chart
                    </div>
                    <div class="card-body">
                        <form id="print_chart" action="floorlist" target="_blank">
                            <b>Dorm:</b>
                            <select id="print-building-list" class="form-control custom-select" name="dorm" style="margin-left:5px" required>
                                <option value="" disabled selected hidden>Choose dorm...</option>
                            </select>
                            <div>
                                <b>Floor:</b>
                                <select id="print-floor-list" class="form-control custom-select" name="floor" style="margin-left:5px" required=""></select>
                            </div>
                            <b>Include:</b>
                            <br>
                            <div class="form-row">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="fn" id="fn">
                                    <label class="custom-control-label" for="fn">First Name</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="ln" id="ln">
                                    <label class="custom-control-label" for="ln">Last Name</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="pn" id="pn"> 
                                    <label class="custom-control-label" for="pn">Preferred Name</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="id" id="id"> 
                                    <label class="custom-control-label" for="id">Student ID</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="y" id="y">
                                    <label class="custom-control-label" for="y">Year of study</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="dob" id="dob">
                                    <label class="custom-control-label" for="dob">Birth date</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="c" id="c">
                                    <label class="custom-control-label" for="c">City of Origin</label>
                                </div>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="fields" value="r" id="r">
                                    <label class="custom-control-label" for="r">Room</label>
                                </div>
                            </div>
                            <b>Order by:</b>
                            <select class="form-control custom-select" name='order-by'>
                                <option value="name_first"> First Name</option>
                                <option value="name_last"> Last Name</option>
                                <option value="name_preferred"> Preferred Name</option>
                                <option value="studentID"> Student ID</option>
                                <option value="cohort_year"> Year of study</option>
                                <option value="date_of_birth"> Birth date</option>
                                <option value="city"> City of Origin</option>
                                <option value="room"> Room</option>
                            </select>
                            <label class="radio-inline" style='opacity: 0'>
                                <input type="radio" name="form" value="list" checked> List
                            </label>
                            <br>
                            <!-- <input type="radio" name="form" value="chart"> Chart<br> -->
                            <input type="submit" value="Print" class="btn btn-dark">
                        </form>
                    </div>
                </div>

                {{!-- Edit Roster --}}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-edit"></i> Edit Roster
                    </div>
                    <div class="card-body">
                        <button id="delete" data-toggle="modal" data-target="#deleteModal" class="btn btn-dark">Delete</button>
                        <button id="add_student" data-toggle="modal" data-target="#addModal" class="btn btn-dark">Add</button>
                        <button id="search" data-toggle="modal" data-target="#searchModal" class="btn btn-dark">Search</button>
                    </div>
                    <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
                </div>
                <!--<h1>Blank</h1>-->
                <!--<p>This is an example of a Roster that you can use as a starting point for creating new ones.</p>-->
            </div>
        </div>
    </div>
</div>

<!-- Add Student Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add a student to the roster</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-student">
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">First Name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="fn" placeholder="Enter first name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Last Name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="ln" placeholder="Enter last name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Preferred Name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="pn" placeholder="Enter preferred name">
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="e" placeholder="Enter email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Student ID number:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="id" placeholder="Enter ID" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Date of Birth:</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="dob" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Year:</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="y">
                                <option value="1">Freshman</option>
                                <option value="2">Sophomore</option>
                                <option value="3">Junior</option>
                                <option value="4">Senior</option>
                                <option value="5">5th year</option>
                                <option value="6">6th year</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Classification:</label>
                        <div class="col-sm-9">
                            <select class="form-control" name='cd'>
                                <option value="New Freshman">New Freshman</option>
                                <option value="Continuing 2nd Year">Continuing 2nd Year</option>
                                <option value="Returning 2nd Year">Returning 2nd Year</option>
                                <option value="Transfer 2nd Year">Transfer 2nd Year</option>
                                <option value="Continuing 3-5">Continuing 3-5</option>
                                <option value="Returning 3-5">Returning 3-5</option>
                                <option value="Transfer 3-5">Transfer 3-5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">
                            State
                            <br>(two letters):
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="state" name="s" pattern="[A-Z]{2}" placeholder="Example: IL" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">City:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="city" name="c" placeholder="Enter city of origin" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Building:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="add-building-list" name='b'>
                                <option value="" disabled selected hidden>Choose dorm...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Floor:</label>
                        <div class="col-sm-9">
                            <select id="add-floor-list" class="form-control" name="floor">

                            </select>
                            <!-- <input type="text" class="form-control" name="f" pattern="\d*[A-Z]{0,1}" placeholder="Example: 3E or 5" required> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Room Number:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="r" pattern="\d+-\d+" placeholder="Example: 416-2" required>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-primary" value="Add" id="add-submit">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Student Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete a student from the roster</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="delete-student">
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="">Student ID number:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="id" placeholder="Enter ID" min="10000" max="99999" required>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-primary" value="Delete" id="delete-submit">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Search Student Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search for a student</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="search-student">
                    <div class="form-row">
                        <div style="width: 100%; text-align: center">
                            <div class="btn-group" style="width: 60%;margin: auto">
                                <input type="search" class="form-control" name="search" placeholder="Search student roster..." required>
                                <button type="submit" class="btn btn-primary" id="search-submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <b> Order by: </b>
                            <select name='order-by' class="custom-select" style="width: auto">
                                <option value="name_first"> First Name</option>
                                <option value="name_last"> Last Name</option>
                                <option value="name_preferred"> Preferred Name</option>
                                <option value="studentID"> Student ID</option>
                                <option value="cohort_year"> Year of study</option>
                                <option value="date_of_birth"> Birth date</option>
                                <option value="city"> City of Origin</option>
                                <option value="room"> Room</option>
                            </select>
                        </div>
                    </div>
                </form>
                <table id="search-table" style="width:100%">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Preferred Name</th>
                        <th>Student ID</th>
                        <th>Year</th>
                        <th>Birth Date</th>
                        <th>City</th>
                        <th>Room</th>
                    </tr>
                    <tbody id="search-table-body"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>