th {
    background-color: blue;
    color: white;
}
hr {
  border-color:blue;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #dae7ed;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #bfcacc;
}