<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hi</title>
</head>
<body>
    <table border="1" width="100%">
        <col style="width: 50%">
        <col style="width: 50%">
        <tbody>
            <tr>
                <th><br />HELLO WORLD!</th>
                <th><br />hey world...</th>
            </tr>
            <tr>
                <th><br />How's it going world?</th>
                <th><br />hello world.</th>
            </tr>
        </tbody>
    </table>
</body>
</html>